<section data-ng-controller="HomeController">



    <div class="jumbotron text-center" data-ng-show="!authentication || !authentication.user">
        <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img  class="img-responsive text-center" src="modules/core/img/brand/home-page-fruits-img.png" />
        </div>
        </div>
        <br>
        <div class="row">
        <p class="lead">
        Fit2Create!
        </p>
        </div>
    </div>



    <!--<script type="text/ng-template" id="createNutritionProfileModalContent.html">-->
        <!--<div class="modal-header" style="font-family: segui;">-->
            <!--<h3 class="modal-title" >Create Nutrition Profile</h3>-->
        <!--</div>-->

        <!--<section data-ng-controller="NutritionProfileController" data-ng-init="findOne()">-->
            <!--<ng-include onInclude="nutritionProfileParameters = nutritionProfileParameters" src="'/modules/nutrition-profile/views/edit-nutritionProfile-container.client.view.html'"></ng-include>-->
        <!--</section>-->

        <!--<div class="modal-footer">-->
            <!--<button class="btn btn-primary"  ng-click="ok()">OK</button>-->
            <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
        <!--</div>-->
    <!--</script>-->

    <!--<script type="text/ng-template" id="startTourDialog.html">-->
        <!--<div class="modal-header" style="font-family: segui;">-->
            <!--<h3 class="modal-title">Fit2Create Tour!</h3>-->
        <!--</div>-->
        <!--<div class="modal-body" style="font-family: segui;text-align: center;padding: 50px;">-->
            <!--<button type="button" id="demo" data-ng-click="ok()" class="btn btn-default btn-lg" data-demo>-->
                <!--<span class="glyphicon glyphicon-play"></span>-->
                <!--Start the demo-->
            <!--</button>-->

        <!--</div>-->
        <!--<div class="modal-footer">-->

            <!--<button class="btn btn-warning" ng-click="cancel()">Cancel</button>-->
        <!--</div>-->
    <!--</script>-->


	<!--<div class="row">-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>M</strong>ongoDB-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>E</strong>xpress-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>A</strong>ngularJS-->
			<!--</h2>-->
			<!--<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>N</strong>ode.js-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="well">-->
		<!--<h2>MEAN.JS Documentation</h2>-->
		<!--<p>-->
			<!--Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:-->
			<!--<ul>-->
				<!--<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</p>-->
	<!--</div>-->
	<!--<br>Enjoy &amp; Keep Us Updated,-->
	<!--<br>The MEAN.JS Team.-->



</section>
