<section data-ng-controller="HomeController">

    <div data-ng-show="nutritionProfile._id">
        <div class="dailyDashboard" style="width: 300px;display:inline-block;">
            <div style="padding-top: 6px;">

                <div style="display:inline-block;float: left;margin-top: 3px;margin-right: 8px;">
                    <button type="button" class="btn btn-default btn-sm" data-ng-click="prevDayClick();">
                        <span class="glyphicon glyphicon-chevron-left arrowBtn" ></span>
                    </button>


                </div>

                <p class="input-group" style="width:139px;">
                    <input type="text" class="form-control" data-ng-change="planDateChanged()" style="padding: 4px 8px;" id="startDate" datepicker-popup="{{format}}" ng-model="planDate" is-open="planDateOpened" min-date="minDate" max-date="'2100-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openPlanDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                </p>



                <div style="display:inline-block;margin-top: 3px;position: relative;bottom: 45px;right: 77px;float: right;">

                    <button type="button" class="btn btn-default btn-sm" data-ng-click="nextDayClick();">
                        <span class="glyphicon glyphicon-chevron-right arrowBtn" />
                    </button>
                </div>

                <div style="border-bottom: 1px solid #eee;width:300px;">
                    <a data-ng-show="activityPlan" data-ng-href="#!/activities/{{activityPlan._id}}">
                        <h3 data-ng-show="planDayOfWeek">

                            <span data-ng-bind="planDayOfWeek"></span>'s Activities:

                        </h3>
                    </a>

                    <div data-ng-show="!activityPlan && planDayOfWeek">
                        <h3>
                            <span data-ng-bind="planDayOfWeek"></span>'s Activities:
                        </h3>
                    </div>

                </div>
                <ul data-ng-show="activityPlan" data-ng-repeat="activity in activityPlan.activities" style="margin-top: 10px;">
                    <li>
                        <span style="font-weight:bold;" data-ng-bind="activityTypesDictionary[activity.activityType].name"></span>:
                        <div style=display:inline-block;" data-ng-show="activity.steps > 0">
                            <span data-ng-bind="activity.steps | number:0"></span> Steps,
                        </div>

                        <span data-ng-bind="activity.caloriesBurned | number:0"></span> Calories Burned,

                        <div style=display:inline-block;" data-ng-show="activity.duration > 0">
                            <span data-ng-bind="activity.duration | number:0"></span> Minutes
                        </div>
                    </li>
                </ul>
                <div data-ng-show="!activityPlan" style="color: rgb(66, 66, 207);margin-top: 20px;margin-left: 9px;font-weight: bold;">
                    <!--There are no Activities entered for today yet.-->
                    <a href="/#!/activities/create/{{planDateForDb}}" title="New Activity" class="ng-binding">Create New Activity for Day</a>
                </div>
            </div>


            <div style="margin-top: 30px;" >

                <div  style="border-bottom: 1px solid #eee;width:300px;">

                    <a data-ng-show="nutritionPlan && planDayOfWeek" data-ng-href="#!/plans/{{nutritionPlan._id}}">
                        <h3>
                            <span data-ng-bind="planDayOfWeek"></span>'s Nutrition:
                        </h3>
                    </a>
                    <div data-ng-show="!nutritionPlan && planDayOfWeek">
                        <h3>
                            <span data-ng-bind="planDayOfWeek"></span>'s Nutrition:
                        </h3>
                    </div>
                </div>
                <div data-ng-show="!nutritionPlan" style="margin-top: 20px;margin-left: 9px;font-weight: bold;color: rgb(66, 66, 207);">
                    <!--There is no nutrition plan entered for today yet.-->
                    <a href="/#!/plans/create/{{planDateForDb}}" title="New Plan" class="ng-binding">Create New Plan for Day</a>

                </div>



                <div data-ng-show="nutritionPlan">
                    <div style="padding-top: 10px;color:gray;">

                        <div style="display:inline-block">
                            <input name="showDailyChartsList" id="dailyCharts" type="radio" value="dailyCharts"  data-ng-model="dailyDashboardView"> <label style="font-weight: normal;" for="dailyCharts">Show as Charts</label> <br/>
                        </div>

                        <div style="display:inline-block;margin-left: 10px;">
                            <input name="showDailyChartsList" id="dailyList" type="radio" value="dailyList" data-ng-model="dailyDashboardView" > <label style="font-weight: normal;" for="dailyList">Show as List</label> <br/>
                        </div>
                    </div>

                    <div data-ng-show="dailyDashboardView == 'dailyList'" style="padding-left: 10px;padding-top: 10px;">
                        <div style="display:inline-block;font-weight:bold;">
                            <div style="margin-top:10px;">
                                 Calories In:
                            </div>
                            <div style="margin-top:10px;">
                                 Calories Out:
                            </div>
                            <div style="margin-top:10px;">
                                 BMR:
                            </div>
                            <div style="margin-top:10px;">
                                <div style="font-weight: bold;display:inline-block; width: 70px;">
                                    <span data-ng-show="calculateDeficit(nutritionPlan, activityPlan) < 0">Surplus:</span>
                                    <span data-ng-show="calculateDeficit(nutritionPlan, activityPlan) > 0">Deficit:</span>

                                </div>

                            </div>
                        </div>


                        <div style="display:inline-block;margin-left: 5px;">
                            <div>
                                <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                                    <span data-ng-bind="nutritionPlan.totalPlanCalories | number:0"></span>
                                </div>
                                <span>Calories</span>
                            </div>

                            <div>
                                <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                                    <span style="margin-top:10px;padding-right: 17px;">-</span>
                                    <span data-ng-bind="totalCaloriesBurned | number:0"></span>
                                </div>
                                <span>Calories</span>
                            </div>

                            <div>
                                <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                                    <span style="margin-top:10px;margin-right: 5px;">-</span>
                                    <span data-ng-bind="bmr | number:0"></span>
                                </div>
                                <span>Calories</span>
                            </div>
                            <div style="color: rgb(33, 51, 184);font-weight: bold;">
                                <div style="border-top: 1px solid black; padding-top:10px; width: 80px; text-align: right;padding-right: 15px;display:inline-block;">

                                    <span data-ng-show="calculateDeficit(nutritionPlan, activityPlan) < 0" data-ng-bind="-(calculateDeficit(nutritionPlan, activityPlan)) | number:0"></span>
                                    <span data-ng-show="calculateDeficit(nutritionPlan, activityPlan) > 0" data-ng-bind="calculateDeficit(nutritionPlan, activityPlan) | number:0"></span>

                                </div>
                                <span>Calories</span>
                            </div>
                        </div>
                        <div style="padding-top:30px">
                            <h4>Macros:</h4>
                            <div style="padding-left: 5px;">
                                <div>
                                    <label style="width: 60px;">Protein:</label>
                                    <span>{{nutritionPlan.totalPlanProteinAsPercent | number: 1}}</span>%
                                </div>
                                <div>
                                    <label style="width: 60px;">Carbs:</label>
                                    <span>{{nutritionPlan.totalPlanCarbsAsPercent | number: 1}}</span>%
                                </div>
                                <div>
                                    <label style="width: 60px;">Fat:</label>
                                    <span>{{nutritionPlan.totalPlanFatAsPercent | number: 1}}</span>%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-show="dailyDashboardView == 'dailyCharts'">
                        <div  style="position:relative; right: 12px;color:rgb(8, 81, 189)">
                            <span style="font-size: 16px; font-weight:bold;padding-left: 10px;position: relative;top: 18px;">Daily Calories:</span>

                            <!--<svg budget-thermometer-chart caloriesIn="{{nutritionPlan.totalPlanCalories}}"-->
                                 <!--deficit="{{calculateDeficit(nutritionPlan, activityPlan)}}" class="budgetChart"></svg>-->
                            <svg style="position:relative; right: 10px;" class="budgetChart"></svg>
                        </div>
                        <div data-ng-show="nutritionPlan" style="padding-top: 10px;color:rgb(8, 81, 189);display:inline-block;">
                            <div>
                                <span style="font-size: 16px; font-weight:bold;">Daily Macros:</span>
                                <div id="dailyMacrosChart" style="right: 25px;"></div>

                            </div>
                        </div>
                        <div  style="display:inline-block;">

                            <div data-ng-if="showEnterDailyWeight" style="width: 105px;position: relative;bottom: 93px;left: 13px;">
                                <span style="font-size: 16px; font-weight:bold;color:rgb(8, 81, 189);position: relative;top: 8px;right: 7px;">Daily Weight:</span>

                                <img src="/modules/core/img/brand/weightScale.png" width="90px" alt="Enter Daily Weight" style="right: 6px;top: 2px;position: relative;}"/>
                                <div>
                                    <a href="/#!/body-stats/create/{{planDateForDb}}">Enter Weight</a>
                                </div>
                            </div>

                            <div data-ng-if="!showEnterDailyWeight && !isUserAdmin" style="width: 100px;">
                                <span style="font-size: 16px; font-weight:bold;color:rgb(8, 81, 189);bottom: 52px;position: relative;right: 5px;">Daily Weight:</span>


                                <span data-ng-bind="dailyBodyStats.weight" style="position: relative;bottom: 28px;left: 40px;font-size: 14px;color: blue;background-color: white;z-index: 20;"></span>lbs

                                <a data-ng-href="#!/body-stats/{{dailyBodyStats._id}}">
                                    <img src="/modules/core/img/brand/weightScale.png" width="225px" alt="Daily Weight" style="bottom: 125px;right: 59px;;position: relative;}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div data-ng-class="{'homepageDashboardSeparatorSmall': weeklyDashboardView == 'charts', 'homepageDashboardSeparatorBig': weeklyDashboardView == 'list' }" style="display:inline-block;">
            &nbsp;
        </div>

        <div class="weeklyDashboard plansDesktopInlineGrid" style="vertical-align: top;">
            <div data-ng-show="weeklyNutritionPlanList" style="vertical-align: top;display:inline-block;">
                <div style="border-bottom: 1px solid #eee;width:270px;"
                     data-ng-class="{'homepageDashboardTitleAreaSmall': weeklyDashboardView == 'charts', 'homepageDashboardTitleAreaBig': weeklyDashboardView == 'list' }">
                    <h3> Week of <span data-ng-bind="weeklyDateDisplay"></span> Nutrition:</h3>
                </div>

                <div data-ng-class="{'homepageDashboardTitleAreaSmall': weeklyDashboardView == 'charts', 'homepageDashboardTitleAreaBig': weeklyDashboardView == 'list' }" style="color:gray;padding-bottom: 11px;padding-top: 8px;">

                    <div style="display:inline-block">
                        <input name="showChartsList" type="radio" value="charts"  data-ng-model="weeklyDashboardView"> Show as Charts <br/>
                    </div>

                    <div style="display:inline-block;margin-left: 10px;">
                        <input name="showChartsList" type="radio" value="list" data-ng-model="weeklyDashboardView" > Show as List <br/>
                    </div>
                </div>

                <div data-ng-show="weeklyDashboardView == 'charts'">
                    <h4>Macros: (%)</h4>
                    <div style="padding-left: 20px;" id="weeklyMacrosChart"></div>
                    <!--<c3chart bindto-id="weeklyMacrosChart" chart-size chartWidth="500" chartHeight="200" chart-data="weeklyMacrosDatapoints" chart-columns="weeklyMacrosDatacolumns" chart-x="datax">-->
                        <!--<chart-axis>-->
                            <!--<chart-axis-x axis-id="x" axis-type="timeseries">-->
                                <!--<chart-axis-x-tick tick-fit="true" tick-format="%Y-%m-%d"/>-->

                            <!--</chart-axis-x>-->
                        <!--</chart-axis>-->
                    <!--</c3chart>-->

                    <h4>Calories:</h4>
                    <div style="padding-left: 20px;" id="weeklyCaloriesChart"></div>
                    <!--<c3chart bindto-id="weeklyCaloriesChart" chart-size chartWidth="500" chartHeight="200" chart-data="weeklyCaloriesDatapoints" chart-columns="weeklyCaloriesDatacolumns" chart-x="datax">-->
                        <!--<chart-axis>-->
                            <!--<chart-axis-x axis-id="x" axis-type="timeseries">-->
                                <!--<chart-axis-x-tick tick-format="%Y-%m-%d"/>-->

                            <!--</chart-axis-x>-->
                        <!--</chart-axis>-->
                    <!--</c3chart>-->

                </div>

                <div style="padding-top: 10px;" data-ng-show="weeklyDashboardView == 'list'">
                    <div  data-ng-repeat="dayNutritionData in weeklyNutritionPlanList" style="padding-top: 10px;">
                        <span data-ng-bind="dayNutritionData.dayOfWeek"></span>:

                        <div style="padding-left: 30px;">
                            <div style="display:inline-block;">
                                <div>
                                    <span style="font-weight: bold;">Calories:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanCalories | number:0"></span> Calories
                                </div>
                                <div>
                                    <span style="font-weight: bold;">Protein:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanProteinAsPercent | number:1"></span>%
                                </div>
                            </div>
                            <div style="display:inline-block;padding-left: 30px;">
                                <div>
                                    <span style="font-weight: bold;">Carbs:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanCarbsAsPercent | number:1"></span>%
                                </div>
                                <div>
                                    <span style="font-weight: bold;">Fat:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanFatAsPercent | number:1"></span>%
                                </div>
                            </div>

                            <div>
                                <span style="font-weight: bold;">Deficit:</span>
                                <span data-ng-bind="dayNutritionData.deficit | number:0"></span> Calories
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="homepageDashboardDesktopBig" data-ng-class="{'homepageDashboardSeparatorSmall': weeklyDashboardView == 'charts', 'homepageDashboardSeparatorBigger': weeklyDashboardView == 'list' }" style="display:inline-block;">
                &nbsp;
            </div>

            <div class="homepageDashboardDesktopBig" style="vertical-align: top;" data-ng-show="weeklyNutritionPlanList">
                <div style="border-bottom: 1px solid #eee;width:277px;">
                    <h3>Week of <span data-ng-bind="weeklyDateDisplay"></span> Averages:</h3>
                </div>

                <div style="padding-top: 10px;">
                    <div id="weeklyAverageMacrosChart"></div>

                    <div style="vertical-align: top;padding-top: 10px;padding-left: 10px;">
                        <div style="height: 25px;">
                            <div style="font-weight: bold;display:inline-block; width: 70px;">
                                Calories:
                            </div>
                            <div style="display:inline-block; ">
                                <span data-ng-bind="weeklyCaloriesAverage | number:0"></span>
                            </div>
                        </div>
                        <div style="height: 25px;">
                            <div style="font-weight: bold;display:inline-block; width: 70px;">
                                Deficit:
                            </div>
                            <div style="display:inline-block; ">
                                <span data-ng-bind="weeklyDeficitAverage | number:0"></span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <div class="jumbotron text-center" data-ng-show="!authentication || !authentication.user">
        <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img  class="img-responsive text-center" src="modules/core/img/brand/home-page-fruits-img.png" />
        </div>
        </div>
        <br>
        <div class="row">
        <p class="lead">
        Fit2Create!
        </p>
        </div>
        <!--<div class="row">-->
        <!--<p>-->
        <!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>-->
        <!--</p>-->
        <!--</div>-->
    </div>

    <script type="text/ng-template" id="createNutritionProfileModalContent.html">
        <div class="modal-header" style="font-family: segui;">
            <h3 class="modal-title" >Create Nutrition Profile</h3>
        </div>

        <ng-include onInclude="nutritionProfileParameters = nutritionProfileParameters" src="'/modules/nutrition-profile/views/edit-nutritionProfile-container.client.view.html'"></ng-include>

        <div class="modal-footer">
            <button class="btn btn-primary"  ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>


	<!--<div class="row">-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>M</strong>ongoDB-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>E</strong>xpress-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>A</strong>ngularJS-->
			<!--</h2>-->
			<!--<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>N</strong>ode.js-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="well">-->
		<!--<h2>MEAN.JS Documentation</h2>-->
		<!--<p>-->
			<!--Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:-->
			<!--<ul>-->
				<!--<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</p>-->
	<!--</div>-->
	<!--<br>Enjoy &amp; Keep Us Updated,-->
	<!--<br>The MEAN.JS Team.-->



</section>
