<div>
    <div style="display:inline-block;float: left;margin-top: 3px;margin-right: 8px;" id="prevDay">
        <button type="button" class="btn btn-default btn-sm" data-ng-click="prevDayClick();">
            <span class="glyphicon glyphicon-chevron-left arrowBtn" ></span>
        </button>
    </div>

    <p class="input-group" style="width:139px;" id="planDateForDay">
          <!--<input type="text" class="form-control" data-ng-change="planInputChange(planDate)" style="padding: 4px 8px;" id="planDate" datepicker-popup="{{format}}" ng-model="planDate" is-open="planDateOpened" min-date="minDate"-->
                 <!--max-date="'2100-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->
        <!--<span class="input-group-btn">-->
        <!--<button type="button" class="btn btn-default" ng-click="openPlanDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>-->
        <!--</span>-->

        <input type="text" class="form-control" style="padding: 4px 8px;text-align: center;" id="planDate" datepicker-popup="{{format}}" data-ng-change="planInputChange(plan.planDateNonUtc)" data-ng-model="planDate"
               is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>


    </p>



    <div style="display:inline-block;margin-top: 3px;position: relative;bottom: 45px;right: 77px;float: right;" id="nextDay">

        <button type="button" class="btn btn-default btn-sm" data-ng-click="nextDayClick();">
            <span class="glyphicon glyphicon-chevron-right arrowBtn" />
        </button>
    </div>
</div>