<section data-ng-controller="HomeController" data-ng-init="getDailyDashboardData()">
	<!--<div class="jumbotron text-center">-->
		<!--<div class="row">-->
			<!--<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">-->
				<!--<img  class="img-responsive text-center" src="modules/core/img/brand/home-page-fruits-img.png" />-->
			<!--</div>-->
		<!--</div>-->
		<!--<br>-->
		<!--<div class="row">-->
			<!--<p class="lead">-->
				<!--Fit2Create!-->
			<!--</p>-->
		<!--</div>-->
		<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
			<!--&lt;!&ndash;<p>&ndash;&gt;-->
				<!--&lt;!&ndash;<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>&ndash;&gt;-->
			<!--&lt;!&ndash;</p>&ndash;&gt;-->
		<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--</div>-->
    <div data-ng-show="activityPlan">
        <h2>Today's Activities:</h2>
        <ul  data-ng-repeat="activity in activityPlan.activities">
            <li>
                <span style="font-weight:bold;" data-ng-bind="activityTypesDictionary[activity.activityType].name"></span>:
                <span data-ng-bind="activity.steps"></span> Steps,
                <span data-ng-bind="activity.caloriesBurned | number:0"></span> Calories Burned,
                <span data-ng-bind="activity.duration | number:0"></span> Minutes
            </li>
        </ul>
    </div>
    <div data-ng-show="!activityPlan" style="color: rgb(66, 66, 207);margin-top: 40px;font-weight: bold;">
        There are no Activities entered for today yet.
    </div>

    <div style="margin-top: 40px;" data-ng-show="nutritionPlan">
        <h2 >Today's Nutrition Stats:</h2>
        <div style="padding-left: 10px;">
            <div style="display:inline-block;font-weight:bold;">
                <div style="margin-top:10px;">
                     Caloric Intake:
                </div>
                <div style="margin-top:10px;">
                     Caloric Expenditure:
                </div>
                <div style="margin-top:10px;">
                     BMR:
                </div>
                <div style="margin-top:10px;">
                     Deficit:
                </div>
            </div>


            <div style="display:inline-block;margin-left: 20px;">
                <div>
                    <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                        <span data-ng-bind="nutritionPlan.totalPlanCalories | number:0"></span>
                    </div>
                    <span>Calories</span>
                </div>

                <div>
                    <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">

                        <span data-ng-bind="activityPlan.totalCaloriesBurned | number:0"></span>
                    </div>
                    <span>Calories</span>
                </div>

                <div>
                    <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                        <span style="margin-top:10px;margin-right: 5px;">-</span>
                        <span data-ng-bind="bmr | number:0"></span>
                    </div>
                    <span>Calories</span>
                </div>
                <div style="color: rgb(33, 51, 184);font-weight: bold;">
                    <div style="border-top: 1px solid black; padding-top:10px; width: 80px; text-align: right;padding-right: 15px;display:inline-block;">
                        <span data-ng-bind="calculateDeficit() | number:0"></span>
                    </div>
                    <span>Calories</span>
                </div>
            </div>

        </div>
        <div style="padding-top: 14px;padding-left: 10px;">
            <h4>Macros Breakdown:</h4>
            <div>
                <span style="font-weight: bold;">Carbs:</span> <span data-ng-bind="nutritionPlan.totalPlanCarbsAsPercent | number:0"></span>%
            </div>
            <div>
                <span style="font-weight: bold;">Protein:</span> <span data-ng-bind="nutritionPlan.totalPlanProteinAsPercent | number:0"></span>%
            </div>
            <div>
                <span style="font-weight: bold;">Fat:</span> <span data-ng-bind="nutritionPlan.totalPlanFatAsPercent | number:0"></span>%
            </div>
        </div>
    </div>
    <div data-ng-show="!nutritionPlan" style="margin-top: 40px;font-weight: bold;color: rgb(66, 66, 207);">
        There is no nutrition plan entered for today yet.
    </div>

	<!--<div class="row">-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>M</strong>ongoDB-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>E</strong>xpress-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>A</strong>ngularJS-->
			<!--</h2>-->
			<!--<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>-->
		<!--</div>-->
		<!--<div class="col-md-3">-->
			<!--<h2>-->
				<!--<strong>N</strong>ode.js-->
			<!--</h2>-->
			<!--<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="well">-->
		<!--<h2>MEAN.JS Documentation</h2>-->
		<!--<p>-->
			<!--Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:-->
			<!--<ul>-->
				<!--<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>-->
				<!--</li>-->
				<!--<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>-->
				<!--</li>-->
			<!--</ul>-->
		<!--</p>-->
	<!--</div>-->
	<!--<br>Enjoy &amp; Keep Us Updated,-->
	<!--<br>The MEAN.JS Team.-->
</section>
