<div id="mobileFooter" >
    <div>
        <div class="mobileFooterElement">
            <a href="/#!/dashboard" class="mobileFooterAnchor">
                <span class="glyphicon glyphicon-home"></span> Home
            </a>
        </div>
        <div class="mobileFooterElement">
            <a href="/#!/nutritionProfile" class="mobileFooterAnchor">
                <span class="glyphicon glyphicon-th"></span> Settings
            </a>
        </div>
        <div class="mobileFooterElement">
            <a href="/#!/plans" class="mobileFooterAnchor">
                <span class="glyphicon glyphicon-list-alt"></span> Plans
            </a>
        </div>
    </div>
</div>