<section data-ng-controller="BodyStatsController" style="font-family: segui;">
    <!--<div class="page-header">-->
    <!--<h1>New Plan</h1>-->
    <!--</div>-->
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-init="findOne()" novalidate>


            <fieldset>
                <div class="form-group" style="margin-bottom: 1px;">
                    <div class="planDetailsSection" style="display:inline-block;vertical-align: top;">

                        <div class="row">
                            <div class="col-md-6" style="width: 153px;padding-top: 8px;">
                                <p class="input-group">
                                  <input type="text" class="form-control" style="padding: 4px 8px;" id="planDate" datepicker-popup="{{format}}" ng-model="plan.planDateNonUtc" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>

                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="planDetailsSection" style="display: inline-block; margin-top: 9px;float: right;">


                        <!--<button class="btn btn-default" style="margin-right: 5px; padding: 4px 9px;" ng-click="openCopyPlanDialog()">Copy</button>-->

                        <div class="plansDesktopBtn" >
                            <button class="btn btn-default " style="margin-right: 5px; padding: 4px 9px !important;background-image: linear-gradient(to bottom, #fff 0%, rgb(247, 170, 170) 100%);" data-ng-click="deletePlan(plan);">Delete Plan</button>
                        </div>



                    </div>
                </div>



            </fieldset>


            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="weight">Weight</label>
                    <div class="controls">
                        <input type="text" style="width: 140px;" data-ng-model="plan.weight" id="weight" class="form-control"  required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="bodyFatPercentage">Body Fat %</label>
                    <div class="controls">
                        <input style="width: 140px;"  data-ng-model="plan.bodyFatPercentage" id="bodyFatPercentage" class="form-control" cols="30" rows="10" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" style="padding: 4px 9px;" data-ng-click="saveBodyStatPlan();"  class="btn btn-default">
                </div>
                <div data-ng-show="success" style="color: green; font-weight: bold; margin-bottom: 10px;opacity: 1;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;" >
                    <strong>Your changes have been saved!</strong>
                </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>


        </form>


    </div>


    <script>
        jQuery(document).ready(function(){

            window.setTimeout(function(){
                jQuery('.panel-group').find('.panel-default').addClass('disabled');
            }, 1000)

        });
    </script>

</section>
