.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.panel-body{
    overflow-x: hidden;
}


/* Thermometer chart css*/
div.tooltip {
    position: absolute;
    text-align: center;

    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid lightgray;
    color: blue;

    pointer-events: none;
}

.caloriesLbl{
    font-size: 12.5px;
}

.toolTipLbl
{
    display:inline-block;
    height:26px;
    padding: 5px;
}

.toolTipValue
{
    display:inline-block;
    border-left:1px solid lightgray;
    height:21px;
    padding: 5px;
}

.toolTipColorRegion{
    width: 11px;
    height: 11px;
    display:inline-block;
    margin-left: 3px;
}

.deficitRegion{
    background-color: rgb(183, 193, 231);

}

.caloriesInRegion{
    background-color: rgb(69, 151, 69);

}

.goalsRegion{
    background-color: orange;

}

.navigationRightArrow{
    color: #C8C7C7;
}











/* Bootstrap overrides */
.popover-title{
    background-color: rgb(161, 228, 174);
}
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse{
    background-image: linear-gradient(to bottom,#2C7EE0 0,rgba(104, 144, 210, 0.72) 100%);
    border-color: rgb(16, 153, 232);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #2D4CA5;
}


.navbar-inverse .navbar-nav>.active>a {
    background-image: -webkit-linear-gradient(top,#222 0,#282828 100%);
    background-image: -o-linear-gradient(top,#222 0,#282828 100%);
    background-image: linear-gradient(to bottom,#2D4CA5 0,#2D4CA5 100%);
    background-image: linear-gradient(to bottom,#222 0,#282828 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    .navbar-inverse .navbar-toggle {
        border-color: white;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: white;
    }
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: white;
    }
}

.navbar-inverse .navbar-nav>.active>a {
    background-image: -webkit-linear-gradient(top,#222 0,#282828 100%);
    background-image: -o-linear-gradient(top,#222 0,#282828 100%);
    background-image: linear-gradient(to bottom,#2D4CA5 0,#2D4CA5 100%);
    background-image: linear-gradient(to bottom,rgb(16, 75, 199) 0,rgb(29, 63, 151) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-toggle:hover {
        background-image: -webkit-linear-gradient(top,#222 0,#282828 100%);
        background-image: -o-linear-gradient(top,#222 0,#282828 100%);
        background-image: linear-gradient(to bottom,#2D4CA5 0,#2D4CA5 100%);
        background-image: linear-gradient(to bottom,rgb(16, 75, 199) 0,rgb(29, 63, 151) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
        box-shadow: inset 0 3px 9px rgba(0,0,0,.25);
    }
}



.pageTitle{
    width: 100%;
    text-align: center;
    margin-top: 14px;
    font-size: 16px;
}



.logNavPlanPills{
    padding-top: 10px;
    font-size: 22px;
}

.logNavPlanPills > a{
    display:inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
}

.logNavPlanPills > a,
.planNavPills > a{

    text-decoration: none;
}

.logNavPlanPills > a:hover{
    background-color: #428bca;
    cursor: pointer;
    color:white;
}

.planNavPills > a:hover{
    background-color: #42ABCA;
    cursor: pointer;
    color:white;
}

.activePill{
    background-color: #428bca;
    color:white;
}

.activeSubPill{
    background-color: #42ABCA;
    color:white;
}

.inactivePill{
    background-color: rgb(218, 229, 240);
    color: #5097D5;
}

.navPillsRow{
    margin-bottom: 28px;
}


.planNavPills{

    font-size: 17px;
}

.planNavPills > a{
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 17px;
}


.dashboardNav{
    padding-top: 20px;
    text-align: right;
}

.triangleDownFood{
    height: 50px;
    width: 44px;
    position: relative;
    right: 360px;
    top: 39px;
}

.triangleDownActivities{
    height: 50px;
    width: 44px;
    position: relative;
    right: 263px;
    top: 39px;
}

.triangleDownWeight{
    height: 50px;
    width: 44px;
    position: relative;
    right: 143px;
    top: 39px;
}
