.suggestedFoodsHeaderTxt{
    position: relative;
    right: 10px;
}

@media (min-width: 499px) {
    .modalHeaderSection {
        text-align: center;
    }
}

.modalHeaderSection{
    padding: 10px;
}

.foodDetailsHeaderTxt{
    font-size: 19px;
    margin-top: 6px;

}

.servingType{
    padding-top: 15px;
    display: inline-block;
    padding-left: 25px;
}

.foodDetailsHeader{
    padding-left: 0;
}

.addFoodTxt{
    color: blue;
    display:inline-block;
    float: right;
    margin-right: 8px;
}

.foodDelete{
    display: inline-block;
    font-size: 21px;
    float: left;
    color:rgb(187, 46, 46);
}

.modal-header{
    padding: 5px;
    padding-bottom: 11px;
}
.dialogNavBackContainer{
    color: rgb(48, 48, 215);
    padding-left: 6px;
    font-size: 15px;
}
.dialogNavBackTxt{
    position:relative;
    right: 2px;
    bottom: 1px;
}

.searchByLetterLink{
    margin-bottom: 4px;
    margin-left: 7px;
}

.orSeparator{
    padding: 10px;
    font-weight:bold;
}

.dialogNavBackBtn{
    margin-left:14%;
    margin-bottom: 12px;
    margin-top: 10px;
}

.foodsContainer{
    overflow-y: auto;
    height: 300px;
}
/*.foodsContainer{*/
    /*margin-top: 40px;*/
/*}*/

/*.searchHeader{*/
    /*position:fixed;*/
/*}*/

.cancelTxt{
    color: orange;
    font-size: 17px;
    display:inline-block;
}

.cancelTxtFloatRight{
    float:right;
    margin-right: 11px;
    margin-top: 1px;

}

.dialogSectionHeader{
    display:inline-block;
    padding-left: 15%;
}

@media (max-width: 599px) {
    .dialogSectionHeader {
        display: inline-block;
        padding-left: 44px;
    }
}


.foodDialogMealsContainer{

    padding: 4px;
    margin-top: -5px;
}

.foodDialogSelectMeal:hover{
    cursor: pointer;
}



.addMealContinueBtn{
    margin-left: 14px;
    margin-top: 28px;
}
.addMealBtn{
    float: right;
    display:inline-block;
}

.mobileNotesBtn{
    margin-left: 13px;
    margin-top: 6px;
}



@media (max-width: 550px) {
    .planFooter{
        margin-bottom: 31px;
        background-color: rgba(236, 241, 255, 1);
        border-bottom:1px solid lightgray;
        height: 40px;
    }
    #wrapper{
        margin-top: 40px;

        margin-left: -17px;

    }
}

.mobileStatsHeader{
    position: fixed;
    height: 40px;
    z-index: 1000;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.mobileStatsHeader th{
    text-align:center;
}

.mobilePlanHeader{
    /*width: 300px !important;*/
    color: white !important;
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: rgb(34, 34, 34);
    background-image: linear-gradient(rgb(44, 126, 224) 0px, rgba(104, 144, 210, 0.721569) 100%);
    background-repeat: repeat-x;
    border-bottom-color: rgb(16, 153, 232);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(16, 153, 232);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(16, 153, 232);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(16, 153, 232);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 51px;
    left: 0px;
    line-height: 20px;
    margin-bottom: 20px;
    min-height: 50px;
    position: fixed;
    right: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 385px;
    z-index: 1030;
}

.mobilePlanContent{
    overflow-y: auto;
    overflow-x:hidden;
    margin-bottom: 3px;
    background-color:rgba(128, 128, 128, 0.18);
    margin-right: -17px !important;

}



.planMealContent{
    border: 1px solid lightgray;
    background-color: white;


}
.planMealContainer{

    margin-bottom: 17px;

}

.mealHeaderTxt{
    text-align: center;
    font-size: 19px;
}

.planMealHeaderLeftRegion{
    display: inline-block;
    position: relative;
    top: 4px;
}
.planMealHeader{
    height: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 16px;
    padding-left: 7px;
    color: white !important;
    background-color: rgb(34, 34, 34);
    background-image: linear-gradient(rgb(44, 126, 224) 0px, rgba(104, 144, 210, 0.721569) 100%);
    background-repeat: repeat-x;
    border-bottom-color: rgb(16, 153, 232);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(16, 153, 232);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(16, 153, 232);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(16, 153, 232);

    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;

}

.mealFood{
    border-bottom: 1px solid lightgray;
}

.foodCalories{
    color: rgb(12, 67, 211);
    padding-top: 3px;
    display: inline-block;
    float: right;
    padding-right: 6px;
}

.mealFoodServing{
    font-size: 13.5px;
    position: relative;
    bottom: 4px;
    padding-left: 7px;


}

.mealFoodName{
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    font-weight: bold;
    font-size: 15px;
    display:inline-block

}

.mealsContainer{
    margin-bottom:42px;
    margin-right: -2px;
    margin-left: 14px;
}

.mealTotalCalories{
    margin-right: 8px;
    float:right;
    display:inline-block;
    font-size: 14px;
    padding: 2px;
    margin-top: 3px;
}

.emptyFoodsTxt{
    color: blue;
    padding-left: 12px;
    margin-top: 10px;
}

.searchTxt{
    font-size: 15px;
    margin-left: 3px;
}

.mobileCopyPlanBtn{
    display:inline-block;
    margin-left: 20px;
    margin-top: 6px;
}

.emptyPlanTxt{
    color: blue;
    padding-top: 35px;
    font-weight: bold;
    text-align: center;
}