.foodDialogSelectMeal{
    padding: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 5px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    font-size: 19px;
}

.orSeparator{
    padding: 10px;
    font-weight:bold;
}

.foodDialogMealsContainer{
    margin-bottom: 11px;
    padding: 10px;
}

.foodDialogSelectMeal:hover{
    cursor: pointer;
}

.foodDialogBreakfast{
    background-color: rgba(200, 215, 253, 0.51);
}
.foodDialogBreakfast:hover{
    background-color: rgba(200, 215, 253, 1);
}
.foodDialogLunch{
    background-color: rgba(255, 219, 179, 1);
}
.foodDialogLunch:hover{
    background-color: rgba(255, 164, 24, 1);
}
.foodDialogDinner{
    background-color: rgba(180, 244, 184, 0.47);
}
.foodDialogDinner:hover{
    background-color: rgba(140, 236, 146, 1);
}
.foodDialogSnack{
    background-color: rgba(254, 255, 197, 1);
}

.foodDialogSnack:hover{
    background-color: rgba(240, 244, 57, 1);
}

.foodDialogCustom{
    background-color: rgb(230, 247, 246);
}

.foodDialogCustom:hover{
    background-color: rgb(153, 242, 237);
}

.addMealContinueBtn{
    margin-left: 14px;
    margin-top: 28px;
}
.addMealBtn{
    margin-top: 10px;
    margin-left: 54px;
}