<section data-ng-controller="DashboardController" ng-init="initializeDashboardData()">

    <div>


        <div class="visible-xs" style="display:inline-block;padding-top: 5px;">
            <div>
                <ng-include src="'/modules/dashboard/views/dashboard.mobileSection.partial.html'"></ng-include>

            </div>
        </div>



        <div class="hidden-xs" style="display:inline-block">
            <div class="dailyDashboard" style="width: 300px;display:inline-block;">
                <div style="padding-top: 6px;">
                    <ng-include  src="'/modules/plans/views/desktop/desktop.planDateContent.client.view.html'"></ng-include>
                    <div style="border-bottom: 1px solid #eee;width:300px;">
                        <a data-ng-show="activityPlan" data-ng-href="#!/activities/{{activityPlan._id}}">
                            <h3 data-ng-show="planDayOfWeek">

                                <span data-ng-bind="planDayOfWeek"></span>'s Activities:

                            </h3>
                        </a>

                        <div data-ng-show="!activityPlan && planDayOfWeek">
                            <h3>
                                <span data-ng-bind="planDayOfWeek"></span>'s Activities:
                            </h3>
                        </div>

                    </div>
                    <ul data-ng-show="activityPlan" data-ng-repeat="activity in activityPlan.activities" style="margin-top: 10px;">
                        <li>
                            <span style="font-weight:bold;" data-ng-bind="activityTypesDictionary[activity.activityType].name"></span>:
                            <div style=display:inline-block;" data-ng-show="activity.steps > 0">
                                <span data-ng-bind="activity.steps | number:0"></span> Steps,
                            </div>

                            <span data-ng-bind="activity.caloriesBurned | number:0"></span> Calories Burned,

                            <div style=display:inline-block;" data-ng-show="activity.duration > 0">
                                <span data-ng-bind="activity.duration | number:0"></span> Minutes
                            </div>
                        </li>
                    </ul>
                    <div id="createActivityForDay" data-ng-show="!activityPlan" style="color: rgb(66, 66, 207);margin-top: 20px;margin-left: 9px;font-weight: bold;">
                        <!--There are no Activities entered for today yet.-->
                        <a href="/#!/activities/create/{{planDateForCreate}}" title="New Activity" class="ng-binding">Create New Activity for Day</a>
                    </div>
                </div>


                <div style="margin-top: 30px;" >

                    <div  style="border-bottom: 1px solid #eee;width:300px;">

                        <a data-ng-show="nutritionPlan && planDayOfWeek" data-ng-href="#!/plans/{{nutritionPlan._id}}">
                            <h3>
                                <span data-ng-bind="planDayOfWeek"></span>'s Nutrition:
                            </h3>
                        </a>
                        <div data-ng-show="!nutritionPlan && planDayOfWeek">
                            <h3>
                                <span data-ng-bind="planDayOfWeek"></span>'s Nutrition:
                            </h3>
                        </div>
                    </div>
                    <div id="createNutritionPlanForDay" data-ng-show="!nutritionPlan" style="margin-top: 20px;margin-left: 9px;font-weight: bold;color: rgb(66, 66, 207);">
                        <!--There is no nutrition plan entered for today yet.-->
                        <a href="/#!/plans/create/{{planDateForCreate}}" title="New Plan" class="ng-binding">Create New Plan for Day</a>

                    </div>



                    <div data-ng-show="nutritionPlan">
                        <div style="padding-top: 10px;color:gray;">

                            <div style="display:inline-block">
                                <input name="showDailyChartsList" id="dailyCharts" type="radio" value="dailyCharts"  data-ng-model="dailyDashboardView"> <label style="font-weight: normal;" for="dailyCharts">Show as Charts</label> <br/>
                            </div>

                            <div style="display:inline-block;margin-left: 10px;">
                                <input name="showDailyChartsList" id="dailyList" type="radio" value="dailyList" data-ng-model="dailyDashboardView" > <label style="font-weight: normal;" for="dailyList">Show as List</label> <br/>
                            </div>
                        </div>

                        <div data-ng-show="dailyDashboardView == 'dailyList'" style="padding-left: 10px;padding-top: 10px;">
                            <div style="display:inline-block;font-weight:bold;">
                                <div style="margin-top:10px;">
                                    Calories In:
                                </div>
                                <div style="margin-top:10px;">
                                    Calories Out:
                                </div>
                                <div style="margin-top:10px;">
                                    BMR:
                                </div>
                                <div style="margin-top:10px;">
                                    <div style="font-weight: bold;display:inline-block; width: 70px;">
                                        <span data-ng-show="deficit < 0">Surplus:</span>
                                        <span data-ng-show="deficit > 0">Deficit:</span>

                                    </div>

                                </div>
                            </div>


                            <div style="display:inline-block;margin-left: 5px;">
                                <div>
                                    <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                                        <span data-ng-bind="nutritionPlan.totalPlanCalories | number:0"></span>
                                    </div>
                                    <span>Calories</span>
                                </div>

                                <div>
                                    <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                                        <span style="margin-top:10px;padding-right: 17px;">-</span>
                                        <span data-ng-bind="totalCaloriesBurned | number:0"></span>
                                    </div>
                                    <span>Calories</span>
                                </div>

                                <div>
                                    <div style="margin-top:10px; width: 80px; text-align: right;display:inline-block;padding-right: 15px;">
                                        <span style="margin-top:10px;margin-right: 5px;">-</span>
                                        <span data-ng-bind="bmr | number:0"></span>
                                    </div>
                                    <span>Calories</span>
                                </div>
                                <div style="color: rgb(33, 51, 184);font-weight: bold;">
                                    <div style="border-top: 1px solid black; padding-top:10px; width: 80px; text-align: right;padding-right: 15px;display:inline-block;">

                                        <span data-ng-show="deficit < 0" data-ng-bind="-(deficit) | number:0"></span>
                                        <span data-ng-show="deficit > 0" data-ng-bind="deficit | number:0"></span>

                                    </div>
                                    <span>Calories</span>
                                </div>
                            </div>
                            <div style="padding-top:30px">
                                <h4>Macros:</h4>
                                <div style="padding-left: 5px;">
                                    <div>
                                        <label style="width: 60px;">Protein:</label>
                                        <span>{{nutritionPlan.totalPlanProteinAsPercent | number: 1}}</span>%
                                    </div>
                                    <div>
                                        <label style="width: 60px;">Carbs:</label>
                                        <span>{{nutritionPlan.totalPlanCarbsAsPercent | number: 1}}</span>%
                                    </div>
                                    <div>
                                        <label style="width: 60px;">Fat:</label>
                                        <span>{{nutritionPlan.totalPlanFatAsPercent | number: 1}}</span>%
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-ng-show="dailyDashboardView == 'dailyCharts'">
                            <div  style="position:relative; right: 12px;color:rgb(8, 81, 189)">
                                <span style="font-size: 16px; font-weight:bold;padding-left: 10px;position: relative;top: 18px;">Daily Calories:</span>

                                <svg style="position:relative; right: 10px;" class="budgetChart"></svg>
                            </div>
                            <div data-ng-show="nutritionPlan" style="padding-top: 10px;color:rgb(8, 81, 189);display:inline-block;">
                                <div>
                                    <span style="font-size: 16px; font-weight:bold;">Daily Macros:</span>
                                    <div id="dailyMacrosChart" style="right: 25px;"></div>

                                </div>
                            </div>
                            <div  style="display:inline-block;">

                                <div data-ng-if="showEnterDailyWeight" style="width: 105px;position: relative;bottom: 93px;left: 13px;">
                                    <span style="font-size: 16px; font-weight:bold;color:rgb(8, 81, 189);position: relative;top: 8px;right: 7px;">Daily Weight:</span>

                                    <img src="/modules/core/img/brand/weightScale.png" width="90px" alt="Enter Daily Weight" style="right: 6px;top: 2px;position: relative;}"/>
                                    <div>
                                        <a href="/#!/body-stats/create/{{planDateForCreate}}">Enter Weight</a>
                                    </div>
                                </div>

                                <div data-ng-if="!showEnterDailyWeight && !nutritionProfile.hideWeightOnHomeScreen" style="width: 100px;">
                                    <span style="font-size: 16px; font-weight:bold;color:rgb(8, 81, 189);bottom: 52px;position: relative;right: 5px;">Daily Weight:</span>


                                    <span data-ng-bind="dailyBodyStats.weight" style="position: relative;bottom: 28px;left: 40px;font-size: 14px;color: blue;background-color: white;z-index: 20;"></span>lbs

                                    <a data-ng-href="#!/body-stats/{{dailyBodyStats._id}}">
                                        <img src="/modules/core/img/brand/weightScale.png" width="225px" alt="Daily Weight" style="bottom: 125px;right: 59px;;position: relative;}"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div data-ng-class="{'homepageDashboardSeparatorSmall': weeklyDashboardView == 'charts', 'homepageDashboardSeparatorBig': weeklyDashboardView == 'list' }" style="display:inline-block;">
            &nbsp;
        </div>

        <div class="weeklyDashboard plansDesktopInlineGrid" style="vertical-align: top;">
            <div  style="vertical-align: top;display:inline-block;">
                <div style="border-bottom: 1px solid #eee;width:270px;"
                     data-ng-class="{'homepageDashboardTitleAreaSmall': weeklyDashboardView == 'charts', 'homepageDashboardTitleAreaBig': weeklyDashboardView == 'list' }">
                    <h3> Week of <span data-ng-bind="weeklyDateDisplay"></span> Nutrition:</h3>
                </div>

                <div data-ng-class="{'homepageDashboardTitleAreaSmall': weeklyDashboardView == 'charts', 'homepageDashboardTitleAreaBig': weeklyDashboardView == 'list' }" style="color:gray;padding-bottom: 11px;padding-top: 8px;"
                     data-ng-show="weeklyNutritionPlanList">

                    <div style="display:inline-block">
                        <input name="showChartsList" type="radio" value="charts"  data-ng-model="weeklyDashboardView"> Show as Charts <br/>
                    </div>

                    <div style="display:inline-block;margin-left: 10px;">
                        <input name="showChartsList" type="radio" value="list" data-ng-model="weeklyDashboardView" > Show as List <br/>
                    </div>
                </div>

                <div data-ng-show="weeklyNutritionPlanList && weeklyDashboardView == 'charts'" style="position:relative; left: 30px;">
                    <h4>Macros: (%)</h4>
                    <div style="padding-left: 20px;" id="weeklyMacrosChart"></div>

                    <h4>Calories:</h4>
                    <div style="padding-left: 20px;" id="weeklyCaloriesChart"></div>

                </div>

                <div style="padding-left: 40px;padding-top: 20px;" class="emptyDataTxt" data-ng-show="!weeklyNutritionPlanList">
                    There are no plans for this week
                </div>

                <div style="padding-top: 10px;" data-ng-show="weeklyNutritionPlanList && weeklyDashboardView == 'list'">
                    <div  data-ng-repeat="dayNutritionData in weeklyNutritionPlanList" style="padding-top: 10px;">
                        <span data-ng-bind="dayNutritionData.dayOfWeek"></span>:

                        <div style="padding-left: 30px;">
                            <div style="display:inline-block;">
                                <div>
                                    <span style="font-weight: bold;">Calories:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanCalories | number:0"></span> Calories
                                </div>
                                <div>
                                    <span style="font-weight: bold;">Protein:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanProteinAsPercent | number:1"></span>%
                                </div>
                            </div>
                            <div style="display:inline-block;padding-left: 30px;">
                                <div>
                                    <span style="font-weight: bold;">Carbs:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanCarbsAsPercent | number:1"></span>%
                                </div>
                                <div>
                                    <span style="font-weight: bold;">Fat:</span>
                                    <span data-ng-bind="dayNutritionData.totalPlanFatAsPercent | number:1"></span>%
                                </div>
                            </div>

                            <div>
                                <span style="font-weight: bold;">Deficit:</span>
                                <span data-ng-bind="dayNutritionData.deficit | number:0"></span> Calories
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="homepageDashboardDesktopBig" data-ng-class="{'homepageDashboardSeparatorSmall': weeklyDashboardView == 'charts', 'homepageDashboardSeparatorBigger': weeklyDashboardView == 'list' }" style="display:inline-block;">
                &nbsp;
            </div>

            <div class="homepageDashboardDesktopBig" style="vertical-align: top;" data-ng-show="weeklyNutritionPlanList" >
                <div style="border-bottom: 1px solid #eee;width:277px;">
                    <h3>Week of <span data-ng-bind="weeklyDateDisplay"></span> Averages:</h3>
                </div>

                <div style="padding-top: 10px;position:relative; left: 20px;">
                    <div id="weeklyAverageMacrosChart"></div>

                    <div style="vertical-align: top;padding-top: 10px;padding-left: 10px;">
                        <div style="height: 25px;">
                            <div style="font-weight: bold;display:inline-block; width: 70px;">
                                Calories:
                            </div>
                            <div style="display:inline-block; ">
                                <span data-ng-bind="weeklyCaloriesAverage | number:0"></span>
                            </div>
                        </div>
                        <div style="height: 25px;">
                            <div style="font-weight: bold;display:inline-block; width: 70px;">
                                Deficit:
                            </div>
                            <div style="display:inline-block; ">
                                <span data-ng-bind="weeklyDeficitAverage | number:0"></span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

    <script type="text/ng-template" id="createNutritionProfileModalContent.html">
        <div class="modal-header" style="font-family: segui;">
            <h3 class="modal-title" >Create Nutrition Profile</h3>
        </div>

        <section data-ng-controller="NutritionProfileController" data-ng-init="findOne()">
            <ng-include onInclude="nutritionProfileParameters = nutritionProfileParameters" src="'/modules/nutrition-profile/views/edit-nutritionProfile-container.client.view.html'"></ng-include>
        </section>

        <div class="modal-footer">
            <button class="btn btn-primary"  ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="startTourDialog.html">
        <div class="modal-header" style="font-family: segui;">
            <h3 class="modal-title">Fit2Create Tour!</h3>
        </div>
        <div class="modal-body" style="font-family: segui;text-align: center;padding: 50px;">
            <button type="button" id="demo" data-ng-click="ok()" class="btn btn-default btn-lg" data-demo>
                <span class="glyphicon glyphicon-play"></span>
                Start the demo
            </button>

        </div>
        <div class="modal-footer">

            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</section>