<div  style="margin-top: 9px;margin-bottom: 15px;display:inline-block; float:left">
    <a data-ng-href="#!/dashboard/{{plan.planDateAsConcat}}">
        <button type="button" class="btn btn-primary btn-m">
            <span class="glyphicon glyphicon-home" ></span><span class="hidden-xs"> Dashboard</span>
        </button>
    </a>
</div>

<div  style="display:inline-block;text-align: center;padding-left: 29%;">
    <ng-include  src="'/modules/plans/views/desktop/desktop.planDateContent.client.view.html'"></ng-include>
</div>
<div style="display: inline-block; margin-top: 9px;float: right;">
    <div style="display:inline-block" id="createMeal">
        <button  type="button" class="btn btn-primary btn-m" style="padding: 6px 10px;"  data-ng-click="createFoodWithDialog();">
            <span class="glyphicon glyphicon-plus" ></span><span class="hidden-xs"> Add Food</span>
        </button>
    </div>

    <div style="display:inline-block;vertical-align: top;">
        <button  type="button" class="btn btn-primary btn-m" style="padding: 6px 10px;"  data-ng-click="openNotesDialog();">
            <span class="glyphicon glyphicon-edit" ></span><span class="hidden-xs"> Notes</span>
        </button>

        <button type="button" class="btn btn-primary btn-m hidden-sm hidden-xs" data-ng-class="{'btn-warning': isEditingEnabled}"  data-ng-click="toggleEditing();">
            <span class="glyphicon glyphicon-wrench" ></span> {{editBtnTxt}}
        </button>

        <div style="display:inline-block" id="copyPlanBtn">
            <button  type="button" class="btn btn-primary btn-m" style="padding: 6px 10px;" data-ng-click="openCopyPlanDialog()">
                <span class="glyphicon glyphicon-share" ></span><span class="hidden-xs"> Copy</span>
            </button>
        </div>
        <button title="Delete Plan" type="button" class="btn btn-primary btn-m btn-danger hidden-sm hidden-xs"  data-ng-click="deletePlan(plan)">
            <span class="glyphicon glyphicon-trash" ></span>
        </button>
    </div>
</div>