<table id="foodTable" class="table" data-ng-show="meal.foods.length > 0"  style="margin-top: 6px;width:100%;">
    <thead>
    <tr>
        <th width="30%">Name</th>
        <!--<th width="7%">Type</th>-->
        <th style="min-width: 40px;width: 10%;"> Servings</th>
        <th style="min-width: 40px;width: 10%;">Calories</th>
        <th style="min-width: 40px;width: 10%;">Carbs</th>
        <th style="min-width: 40px;width: 10%;">Protein</th>
        <th style="min-width: 40px;width: 10%;">Fat</th>
        <th style="min-width: 40px;width: 10%;">Sodium</th>
        <th style="min-width: 40px;width: 10%;">Grams</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>

    <tr class="planGridRow"   data-ng-repeat="food in meal.foods" data-ng-class="{mealSuggestedHighlight: food.IsSuggested}"
        data-ng-click="createFoodWithDialog(meal, food);" data-ng-mouseover="food.showEditIcon = true" data-ng-mouseleave="food.showEditIcon = false">
        <td style="padding-right: 10px;padding-left:5px;">

            <div class="controls">
                <span data-ng-bind="food.selectedFood.name"></span>

            </div>
        </td>

        <td>

            <div class="controls" style="width: 70px;" >
                <span data-ng-bind="food.servings"></span>
            </div>
        </td>
        <td>
            <div class="controls" style="width: 60px;">
                <span data-ng-bind="food.calories | number:0"></span>
            </div>
        </td>
        <td>
            <div class="controls" style="width: 60px;">
                <span data-ng-bind="food.carbohydrates | number:1"></span>g
            </div>
        </td>
        <td>
            <div class="controls" style="width: 60px;">
                <span data-ng-bind="food.protein | number:1"></span>g
            </div>
        </td>
        <td>
            <div class="controls" style="width: 60px;">
                <span data-ng-bind="food.fat | number:1"></span>g
            </div>
        </td>
        <td>
            <div class="controls" style="width: 60px;">
                <span data-ng-bind="food.sodium | number:0"></span>mg
            </div>
        </td>
        <td>
            <div class="controls" style="width: 60px;">
                <span data-ng-bind="food.grams | number:1"></span>g
            </div>
        </td>

        <td>
            <!--<div style="padding-right:5px;">-->
            <!--<span tooltip="Delete Food" class="deleteBtn" data-ng-click="deleteFood(food, meal);">x</span>-->
            <!--</div>-->

            <div style="display:inline-block;width:40px;">
                <div style="padding-right:5px;cursor:pointer;float:right;height: 14px !important;" data-ng-click="deleteFood(food, meal);" type="button" data-ng-class="{editRowShow: food.showEditIcon && !food.isEditable}"  class="editRowHide">
                    <span  class="glyphicon glyphicon-trash"></span>
                </div>
            </div>
        </td>
    </tr>

    <tr style="font-weight: bold;color: rgb(33, 51, 184);border-top: 1px solid lightgray;">
        <td>
            Totals:
        </td>
        <td>
            &nbsp;
        </td>
        <!--<td>-->
        <!--&nbsp;-->
        <!--</td>-->
        <td>
            <span data-ng-bind="meal.totalCalories | number:0"></span>
        </td>
        <td>
            <span data-ng-bind="meal.totalCarbohydrates | number:1"></span>g
        </td>
        <td>
            <span data-ng-bind="meal.totalProtein | number:1"></span>g
        </td>
        <td>
            <span data-ng-bind="meal.totalFat | number:1"></span>g
        </td>
        <td>
            <span data-ng-bind="meal.totalSodium | number:0"></span>mg
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
