<section data-ng-controller="FoodsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Food</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="food.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="type">Type</label>
                    <div class="controls">
                        <input data-ng-model="food.type" id="type" class="form-control" cols="30" rows="10" placeholder="Type"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="calories"> Calories (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.calories" id="calories" class="form-control" cols="30" rows="10" placeholder="Calories"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="protein"> Protein (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.protein" id="protein" class="form-control" cols="30" rows="10" placeholder="Protein"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="fat">Total Fat (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.fat" id="fat" class="form-control" cols="30" rows="10" placeholder="Total Fat"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="saturatedFat">Saturated Fat (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.saturatedFat" id="saturatedFat" class="form-control" cols="30" rows="10" placeholder="Saturated Fat"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="transfat">Trans Fat (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.transfat" id="transfat" class="form-control" cols="30" rows="10" placeholder="Trans Fat"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="carbohydrates">Total Carbs (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.carbohydrates" id="carbohydrates" class="form-control" cols="30" rows="10" placeholder="Carbohydrates"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sugar">Sugar (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.sugar" id="sugar" class="form-control" cols="30" rows="10" placeholder="Sugar"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="grams"> Grams (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.grams" id="grams" class="form-control" cols="30" rows="10" placeholder="Grams"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sodium">Sodium (mg)</label>
                    <div class="controls">
                        <input data-ng-model="food.sodium" id="sodium" class="form-control" cols="30" rows="10" placeholder="Sodium"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="fiber">Fiber (g)</label>
                    <div class="controls">
                        <input data-ng-model="food.fiber" id="fiber" class="form-control" cols="30" rows="10" placeholder="Fiber"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="cholesterol">Cholesterol (mg)</label>
                    <div class="controls">
                        <input data-ng-model="food.cholesterol" id="cholesterol" class="form-control" cols="30" rows="10" placeholder="Cholesterol"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="vitaminA">Vitamin A (%)</label>
                    <div class="controls">
                        <input data-ng-model="food.vitaminA" id="vitaminA" class="form-control" cols="30" rows="10" placeholder="Vitamin A"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="vitaminC">Vitamin C (%)</label>
                    <div class="controls">
                        <input data-ng-model="food.vitaminC" id="vitaminC" class="form-control" cols="30" rows="10" placeholder="Vitamin A"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="calcium">Calcium (%)</label>
                    <div class="controls">
                        <input data-ng-model="food.calcium" id="calcium" class="form-control" cols="30" rows="10" placeholder="Calcium"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="vitaminA">Iron (%)</label>
                    <div class="controls">
                        <input data-ng-model="food.iron" id="iron" class="form-control" cols="30" rows="10" placeholder="Iron"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>