<section data-ng-controller="FoodsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="food.name"></h1>
    </div>
    <div style="display:inline-block;width: 50%;">
        Servings:
        <input type="text" style="width: 70px;" data-ng-model="servings" data-ng-change="servingsChange(food)"/>
    </div>
    <div style="padding-left: 10px;width: 30%;display:inline-block;">
        <a class="btn btn-primary" href="/#!/foods/{{food._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <!--<a class="btn btn-primary" data-ng-click="remove();">-->
            <!--<i class="glyphicon glyphicon-trash"></i>-->
        <!--</a>-->
    </div>

    <div style="border: 1px solid lightgray; width: 300px;padding: 5px;margin-right: 70px;margin-top:20px;display: inline-block;">
        <div style="border-bottom: 3px solid black;">
            <span style="font-size: 24px;">Nutrition Facts</span>

            <div>
                <small>
                    <span style="font-weight:bold;">Serving Size: </span>
                    <em class="text-muted">
                        {{food.gramsDisplay | number:0}} grams
                    </em>
                </small>

            </div>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <span style="font-size: 12px;font-weight: bold;">Amount Per Serving</span>
        </div>
        <div style="border-bottom: 1px solid lightgray;">
            <small>
                <span style="font-weight:bold;">Calories: </span>
                <em class="text-muted">
                    {{food.caloriesDisplay | number:1}}
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray;">
            <span style="padding-left: 204px;font-size: 12px;font-weight: bold;">% Daily Value*</span>
        </div>
        <div style="border-bottom: 1px solid lightgray;">
            <small>
                <span style="font-weight:bold;">Total Fat: </span>
                <em class="text-muted">
                    {{food.fatDisplay | number:1}}g
                </em>

            </small>

            <small style="float:right">
                <em class="text-muted">
                    {{totalFatDailyPercentageDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <small style="padding-left: 15px;">
                <span >Saturated Fat: </span>
                <em class="text-muted">
                    {{food.saturatedFatDisplay | number:1}}g
                </em>

            </small>

            <small style="float:right">
                <em class="text-muted">
                    {{saturatedFatDailyPercentageDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <small style="padding-left: 15px;">
                <span >Trans Fat:</span>
                <em class="text-muted">
                    {{food.transfatDisplay | number:1}}g
                </em>

            </small>


        </div>
        <div style="border-bottom: 1px solid lightgray">
            <small>
                <span style="font-weight:bold;">Cholesterol:</span>
                <em class="text-muted">
                    {{food.cholesterolDisplay | number:1}}mg
                </em>

            </small>

            <small style="float:right">
                <em class="text-muted">
                    {{cholesterolDailyPercentageDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <small>
                <span style="font-weight:bold;">Sodium:</span>
                <em class="text-muted">

                    {{food.sodiumDisplay | number:1}}mg
                </em>

            </small>

            <small style="float:right">
                <em class="text-muted">
                    {{sodiumDailyPercentageDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <small>
                <span style="font-weight:bold;">Total Carbohydrates:</span>
                <em class="text-muted">
                    {{food.carbohydratesDisplay | number:1}}g
                </em>

            </small>

            <small style="float:right">
                <em class="text-muted">
                    {{totalCarbohydratesDailyPercentageDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <small style="padding-left: 15px;">
                <span >Dietary Fiber:</span>
                <em class="text-muted">
                    {{food.fiberDisplay | number:1}}g
                </em>

            </small>

            <small style="float:right">
                <em class="text-muted">
                    {{fiberDailyPercentageDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <small style="padding-left: 15px;">
                <span >Sugars:</span>
                <em class="text-muted">
                    {{food.sugarDisplay | number:1}}g
                </em>

            </small>


        </div>
        <div style="border-bottom: 3px solid black;">
            <small>
                <span style="font-weight:bold;">Protein:</span>
                <em class="text-muted">
                    {{food.proteinDisplay | number:1}}g
                </em>

            </small>


        </div>
        <div style="border-bottom: 1px solid lightgray">
            <div style="display:inline-block;width: 60px;">
                <small >
                    <em class="text-muted">
                        Vitamin A:
                    </em>

                </small>
            </div>

            <small style="padding-left: 40px;">
                <em class="text-muted">
                    {{food.vitaminADisplay | number:0}}%
                </em>

            </small>

            <small style="padding-left: 35px;">
                <em class="text-muted">
                    Vitamin C:
                </em>

            </small>

            <small style="float:right;">
                <em class="text-muted">
                    {{food.vitaminCDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div style="border-bottom: 1px solid lightgray">
            <div style="display:inline-block;width: 60px;">
                <small >
                    <em class="text-muted">
                       Calcium:
                    </em>

                </small>
            </div>

            <small style="padding-left:40px;">
                <em class="text-muted">
                    {{food.calciumDisplay | number:0}}%
                </em>

            </small>

            <small style="padding-left: 35px;">
                <em class="text-muted">
                    Iron:
                </em>

            </small>

            <small style="float:right;">
                <em class="text-muted">
                    {{food.ironDisplay | number:0}}%
                </em>

            </small>
        </div>
        <div>
            <p style="font-size: 10px; font-weight:bold;">
                *Percent Daily Values are based on a 2,000 calories diet.
                Your daily values may be higher or lower depending on your
                calories needs.
            </p>
        </div>
    </div>

    <div style="display:inline-block;vertical-align: top;margin-top: 60px;" id="macrosChart"></div>


</section>