<section data-ng-controller="FoodsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="food.name"></h1>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/foods/{{food._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>
        <small>
            <em class="text-muted">
                Type: {{food.type}}
            </em>

        </small>
    </div>
    <div>
        <small>
            <em class="text-muted">
               calories: {{food.calories}}
            </em>

        </small>
    </div>



    <div>
        <small>
            <em class="text-muted">
                Protein: {{food.protein}}
            </em>

        </small>
    </div>

    <div>
        <small>
            <em class="text-muted">
                Carbs: {{food.carbohydrates}}
            </em>

        </small>
    </div>

    <div>
        <small>
            <em class="text-muted">
                Fat: {{food.fat}}
            </em>

        </small>
    </div>

</section>