<section data-ng-controller="FoodsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="food.name"></h1>
    </div>
    <div class="pull-right">
        <a class="btn btn-primary" href="/#!/foods/{{food._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
           calories: {{food.calories}}
        </em>
    </small>

</section>