<div class="planDetailsSection" style="vertical-align: top;">
    <div>
        <div style="display:inline-block;vertical-align: top;position: relative;top: 18px;left: 10px;" id="prevDay">

            <div data-ng-click="toggleDayClick('previousDay')">
                <span class="glyphicon glyphicon-chevron-left arrowBtn" ></span>
            </div>
            <!--</a>-->
        </div>
        <div id="planDateContainer" style="width: 146px;padding-top: 8px;display:inline-block;">

            <span style="font-weight: bold; font-size: 19px;position: relative;top: 5px;" data-ng-bind="getMobilePlanDateFormat(plan.planDateNonUtc)"></span>
        </div>
        <div style="display:inline-block;vertical-align: top;position: relative;top: 18px;right:10px" id="nextDay">
            <div data-ng-click="toggleDayClick('nextDay')">
                <span class="glyphicon glyphicon-chevron-right arrowBtn" />
            </div>
        </div>
    </div>
</div>