<section data-ng-controller="PlansController" style="font-family: segui;">
<!--<div class="page-header">-->
<!--<h1>New Plan</h1>-->
<!--</div>-->
<div class="col-md-12">
    <form class="form-horizontal" data-ng-init="findOne()" novalidate>


        <fieldset>
            <div class="form-group" style="margin-bottom: 1px;">
                <div class="planDetailsSection" style="display:inline-block;vertical-align: top;">
                    <!--<label class="control-label" for="planDate">Plan Date</label>-->

                    <div class="row">
                        <div class="col-md-6" style="width: 153px;padding-top: 8px;">
                            <p class="input-group">
                               <input type="text" class="form-control" style="padding: 4px 8px;" id="planDate" datepicker-popup="{{format}}" ng-model="plan.planDateNonUtc" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                    </div>
                </div>


                <div class=" planDetailsSection" style="display: inline-block; margin-top: 9px;float: right;">
                    <!--<input type="button" class="btn btn-default" style="margin-right: 5px; padding: 4px 9px;" data-ng-click="createMeal();" value="+"/>-->

                    <!---->


                    <button type="button" title="Create Meal" class="btn btn-default btn-lg" style="height:34px;width:34px;margin-right: 3px;" data-ng-click="createMeal();">
                        <span style="top: -5px;right: 8px;" class="glyphicon glyphicon-plus"></span>
                    </button>


                    <button type="button" title="Open Notes" class="btn btn-default btn-lg" style="height:34px;width:34px;margin-right: 3px;" data-ng-click="openNotesDialog();">
                        <span style="top: -5px;right: 8px;" class="glyphicon glyphicon-edit"></span>
                    </button>


                    <div class="plansDesktopBtn">
                        <input type="button" class="btn btn-default" style="margin-right: 3px; " value="Collapse All Meals" data-ng-click="collapseAllMeals(plan);"/>
                    </div>

                    <div class="plansDesktopBtn">
                        <input type="button" class="btn btn-default" style="margin-right: 3px; " value="{{sortingBtnTxt}}" data-ng-click="toggleSorting();"/>
                    </div>

                    <button class="btn btn-default plansDesktopBtn" style="margin-right: 3px; " ng-click="openCopyPlanDialog()">Copy</button>


                    <button title="Copy Plan" class="btn btn-default btn-lg plansMobileGridBtn" ng-click="openCopyPlanDialog()" style="height:34px;width:34px;margin-right: 3px;">
                        <span  style="top: -5px;right: 8px;" class="glyphicon glyphicon-share"></span>
                    </button>


                    <div class="plansDesktopBtn" data-ng-show="isUserAdmin">
                        <button class="btn btn-default" style="margin-right: 5px; ;background-image: linear-gradient(to bottom, #fff 0%, rgb(247, 170, 170) 100%);" data-ng-click="deletePlan(plan);">Delete Plan</button>
                    </div>
                    <!--<div class="plansDesktopBtn">-->
                        <!--<button class="btn btn-default " style="margin-right: 5px; padding: 4px 9px !important;background-image: linear-gradient(to bottom, #fff 0%, rgb(247, 170, 170) 100%);" data-ng-click="deletePlan(plan);">Delete Plan</button>-->
                    <!--</div>-->


                    <button type="submit" data-ng-click="savePlan()" class="btn btn-default btn-lg plansMobileGridBtn" style="height:34px;width:34px;" title="Save">
                        <span  style="top: -5px;right: 8px;" class="glyphicon glyphicon-floppy-disk"></span>
                    </button>


                    <input type="submit" value="Save" style="" data-ng-click="savePlan()"  class="btn btn-default plansDesktopBtn">
                </div>
            </div>

            <div data-ng-show="success" style="opacity: 0.2; color: green; padding:5px;border-radius: 4px; z-index: 1000; background-color: rgba(230,242,233, 0.9); border:1px solid lightgray; font-weight: bold;opacity: 1;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;position:fixed;top:50px;left:20%;filter:inherit" >
                <strong>Your changes have been saved!</strong>
            </div>

            <div data-ng-show="showPlanEditableErrorMsg" style="color: red; font-weight: bold; margin-bottom: 10px;">
                <strong>Please save the plan before copying it.</strong>
            </div>
        </fieldset>


        <fieldset id="wrapper" >
            <div id="content" class="form-group planContent" style="overflow-y: auto;overflow-x:hidden; margin-bottom: 3px;">
                <accordion sortable="sortableOptions" disableallelementsbydefault="true" updateCallback="sortableUpdateCallback" startCallback="sortableStartCallback" rootSortableElement=".panel-group" ng-show="plan.meals.length > 0"  class="plansAccordion" style="..." close-others="oneAtATime">
                    <accordion-group data-ng-repeat="meal in plan.meals" is-open="meal.isVisible">
                        <accordion-heading>
                            <div style="height: 28px;">
                            <span style="width: 80px;" data-ng-show="meal.isEditable == false" data-ng-bind="getMealTypeName(meal.type)"></span>

                            <select class="plansDesktopBtn" ng-model="meal.type" data-ng-change="meal.isEditable = false" data-ng-click="meal.isVisible = !meal.isVisible" data-ng-show="meal.isEditable" ng-options="t.id as t.name for t in mealTypes" style="font-size: 16px;vertical-align: top;"></select>
                            <select class="plansMobileGridBtn" data-ng-change="savePlan(true);" ng-model="meal.type" data-ng-click="meal.isVisible = !meal.isVisible" data-ng-show="meal.isEditable" ng-options="t.id as t.name for t in mealTypes" style="font-size: 16px;vertical-align: top;"></select>


                            <div class="editRow" style="display:inline-block;" class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                                <img  alt="Edit Meal Type" class="img-responsive text-center" data-ng-show="meal.isEditable == false" data-ng-click="editMeal(meal);" src="modules/core/img/brand/pencilIcon.png" />
                            </div>

                        </div>
                        </accordion-heading>

                        <div class="planMealDesktop">

                            <input type="button" class="plansDesktopBtn"  data-ng-click="createFoodWithDialog(meal);" value="+"/>
                            <input type="button" class="plansMobileGridBtn"  data-ng-click="createFoodWithDialog(meal, null, null, true);" value="+"/>

                            <input class="plansMobileGridBtn" style="margin-left: 15px;float:right;" type="button" value="Delete Meal" data-ng-click="deleteMeal(meal, true);"/>
                            <input class="plansDesktopBtn" style="margin-left: 15px;float:right;" type="button" value="Delete Meal" data-ng-click="deleteMeal(meal);"/>

                            <input type="button" value="Suggest" style="margin-left: 10px;" data-ng-click="openSuggestionsDialog(meal)"/>

                            <div class="plansMobileGrid" style="margin-top: 5px;">
                                <ul>
                                    <li data-ng-click="createFoodWithDialog(meal, food, null, true);" data-ng-repeat="food in meal.foods" data-ng-class="{mealSuggestedHighlight: food.IsSuggested}">

                                        <div>
                                            <div class="controls"  style="font-weight: bold; font-size: 15px;">
                                                <span data-ng-bind="food.name"></span>

                                                <span class="deleteBtn" style="font-size: 16px;width: 15px;text-align: center;" data-ng-click="deleteFood(food, meal, true);">x</span>


                                            </div>
                                            <div class="controls"  style="color: rgb(211, 139, 12);padding-top: 3px;">

                                                <span data-ng-bind="food.calories | number:0"></span> calories
                                            </div>

                                        </div>

                                        <div style="font-size: 12.5px" class="text-muted">
                                            <div>
                                                <span data-ng-bind="food.servings"></span> serving<span data-ng-show="food.servings > 1">s</span>,
                                                <span data-ng-bind="food.grams | number:0"></span> grams
                                            </div>
                                            <!--<div>-->
                                                <!--<span data-ng-bind="food.calories | number:0"></span> Calories,-->
                                                <!--<span data-ng-bind="food.carbohydrates | number:1"></span>g Carbs,-->
                                                <!--<span data-ng-bind="food.protein | number:1"></span>g Protein,-->

                                            <!--</div>-->
                                            <!--<div>-->
                                                <!--<span data-ng-bind="food.fat | number:1"></span>g Fat,-->
                                                <!--<span data-ng-bind="food.grams | number:1"></span>g Grams-->
                                            <!--</div>-->
                                        </div>



                                    </li>
                                </ul>

                                <div style="padding-top: 9px; padding-top: 3px;color: rgb(66, 66, 207); font-weight: bold;font-size: 12.5px;">

                                    <div style="width: 42px; display:inline-block;">Totals:</div>

                                    <div style="display:inline-block;">

                                        <span  data-ng-bind="meal.totalCalories | number:0"></span> Calories,
                                        <span data-ng-bind="meal.totalCarbohydrates | number:1"></span>g Carbs,

                                    </div>

                                    <div >
                                        <div style="width: 42px; display:inline-block;">&nbsp;</div>
                                        <span data-ng-bind="meal.totalProtein | number:1"></span>g Protein,

                                        <span data-ng-bind="meal.totalFat | number:1"></span>g Fat
                                    </div>
                                </div>



                            </div>

                            <table data-ng-show="meal.foods.length > 0" class="plansDesktopGrid" style="margin-top: 6px;width:100%;">
                                <thead>
                                <tr>
                                    <th width="30%">Name</th>
                                    <!--<th width="7%">Type</th>-->
                                    <th style="min-width: 40px;width: 10%;"> Servings</th>
                                    <th style="min-width: 40px;width: 10%;">Calories</th>
                                    <th style="min-width: 40px;width: 10%;">Carbs</th>
                                    <th style="min-width: 40px;width: 10%;">Protein</th>
                                    <th style="min-width: 40px;width: 10%;">Fat</th>
                                    <th style="min-width: 40px;width: 10%;">Sodium</th>
                                    <th style="min-width: 40px;width: 10%;">Grams</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr height="35px"  data-ng-repeat="food in meal.foods" data-ng-class="{mealSuggestedHighlight: food.IsSuggested}" data-ng-click="createFoodWithDialog(meal, food);">
                                    <td style="padding-right: 10px;">

                                        <div class="controls">
                                            <span data-ng-bind="food.selectedFood.name"></span>

                                        </div>
                                    </td>
                                    <!--<td>-->
                                        <!--<div class="controls" style="width: 60px;">-->
                                            <!--<span data-ng-bind="food.type" id="foodType"  />-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <td>

                                        <div class="controls" style="width: 70px;" >
                                            <span data-ng-bind="food.servings"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="controls" style="width: 60px;">
                                            <span data-ng-bind="food.calories | number:0"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="controls" style="width: 60px;">
                                            <span data-ng-bind="food.carbohydrates | number:1"></span>g
                                        </div>
                                    </td>
                                    <td>
                                        <div class="controls" style="width: 60px;">
                                            <span data-ng-bind="food.protein | number:1"></span>g
                                        </div>
                                    </td>
                                    <td>
                                        <div class="controls" style="width: 60px;">
                                            <span data-ng-bind="food.fat | number:1"></span>g
                                        </div>
                                    </td>
                                    <td>
                                        <div class="controls" style="width: 60px;">
                                            <span data-ng-bind="food.sodium | number:0"></span>mg
                                        </div>
                                    </td>
                                    <td>
                                        <div class="controls" style="width: 60px;">
                                            <span data-ng-bind="food.grams | number:1"></span>g
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            <span tooltip="Delete Food" class="deleteBtn" data-ng-click="deleteFood(food, meal);">x</span>
                                        </div>
                                    </td>
                                </tr>

                                <tr style="font-weight: bold;color: rgb(33, 51, 184);border-top: 1px solid lightgray;">
                                    <td>
                                        Totals:
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <!--<td>-->
                                        <!--&nbsp;-->
                                    <!--</td>-->
                                    <td>
                                        <span data-ng-bind="meal.totalCalories | number:0"></span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="meal.totalCarbohydrates | number:1"></span>g
                                    </td>
                                    <td>
                                        <span data-ng-bind="meal.totalProtein | number:1"></span>g
                                    </td>
                                    <td>
                                        <span data-ng-bind="meal.totalFat | number:1"></span>g
                                    </td>
                                    <td>
                                        <span data-ng-bind="meal.totalSodium | number:0"></span>mg
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </accordion-group>
                </accordion>




            </div>


        </fieldset>



        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>

    </form>

    <div class="planFooter">
        <table style="border-top: 1px solid lightgray;display: inline-block;" id="footer">
            <thead>
            <tr>
                <th width="316px">&nbsp;</th>
                <th width="90px">Deficit </th>
                <th width="90px">Calories </th>
                <th width="90px">Carbs</th>
                <th width="90px">Protein</th>
                <th width="130px">Fat</th>
            </tr>
            </thead>
            <tbody>
            <tr style="font-weight:bold;" data-ng-show="showTotalsAsPercent == false">
                <td>
                    <span style="font-weight:bold;">Totals:</span>
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="currentDeficit | number:0"></span>
                </td>

                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanCalories | number:0"></span>
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanCarbs | number:1"></span>g
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanProtein | number:1"></span>g
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanFat | number:1"></span>g
                </td>

            </tr>
            <tr style="font-weight:bold;" data-ng-show="showTotalsAsPercent">
                <td>
                    <span style="font-weight:bold;">Totals:</span>
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="currentDeficit | number:0"></span>
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanCalories | number:0"></span>
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanCarbsAsPercent | number:1"></span>%
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanProteinAsPercent | number:1"></span>%
                </td>
                <td style="color: rgb(33, 51, 184);">
                    <span data-ng-bind="plan.totalPlanFatAsPercent | number:1"></span>%
                </td>

            </tr>
            </tbody>
        </table>
        <div style="display:inline-block; position:relative; bottom:6px;margin-top:10px">
            <label for="radioBtnShowPercent">%</label>
            <input type="radio" id="radioBtnShowPercent" name="totalsRadioBtn" style="margin-right: 20px;" data-ng-click="toggleTotalsAsPercent()" checked="checked"/>

            <label for="radioBtnHidePercent">Grams</label>
            <input type="radio" id="radioBtnHidePercent" name="totalsRadioBtn" data-ng-click="toggleTotalsAsPercent()" />
        </div>
    </div>

</div>


<script type="text/ng-template" id="createFoodModalContent.html">
    <div class="modal-header" style="font-family: segui;">
        <h3 class="modal-title" data-ng-show="!showFoodDetails">Select Food To Add</h3>
        <div data-ng-show="showFoodDetails" style="display:inline-block;width: 220px;">
            <h4 class="modal-title" >
                <span style="font-weight: bold;" data-ng-bind="selected.foodToAdd.name"></span>

            </h4>
        </div>
        <a data-ng-show="showFoodDetails" style="margin-left: 10px;"  data-ng-click="changeFood()">Change Food</a>
    </div>
    <div  style="font-family: segui;padding:10px;" >
        <div style="display:inline-block;">
            <div data-ng-show="!showFoodDetails">
                <div style="margin-bottom: 20px;">


                    <!--<input placeholder="Enter Food Name" style="width: 240px;" type="text" data-ng-change="updateFoodDetails()" ng-model="selected.foodToAdd" typeahead="food as (food.name) for food in allFoodsInitial | filterFoodsByPartialText:$viewValue:food.selectedFood" />-->

                    <input placeholder="Enter Food Name" style="width: 170px;" type="text" data-ng-change="updateFoodList()" data-ng-model="selected.foodSearchTxt"  />
                </div>

                <div class="list-group" style="margin-bottom: 0px; !important;" data-ng-repeat="food in foods">
                    <a class="list-group-item" data-ng-click="foodSelectionChange(food)">
                        <span data-ng-bind="food.name"></span>
                    </a>
                </div>
            </div>
            <div  data-ng-show="showFoodDetails">
                <!--<h3 style="margin-bottom: 10px;">-->
                    <!--<span data-ng-bind="selected.foodToAdd.name"></span>-->
                <!--</h3>-->

                <div style="display:inline-block;">
                    <div style="font-weight: bold;">
                        Servings:
                    </div>

                    <input style="width: 80px;" data-ng-change="servingsChange()" data-ng-model="selected.servings" type="text"/>
                </div>
                <div style="margin-top: 20px;display:inline-block;padding-left:40px;">
                    <div style="font-weight:bold;">Calories:</div>
                    <span style="font-size: 18px;" data-ng-bind="selected.caloriesDisplay"></span>
                </div>

                <div style="padding-top: 7px;">
                    <div style="display:inline-block;padding-right:15px;">
                        <div style="padding-top: 15px;">
                            <span style="font-weight:bold;">Total Fat:</span>
                            <span data-ng-bind="selected.fatDisplay"></span>
                        </div>
                        <div style="margin-left: 20px;">
                            Saturated Fat:
                            <span data-ng-bind="selected.saturatedFatDisplay"></span>
                        </div>
                        <div style="margin-left: 20px;">
                            <span>Cholesterol:</span>
                            <span data-ng-bind="selected.cholesterolDisplay"></span>
                        </div>
                        <div >
                            <span style="font-weight:bold;">Sodium:</span>
                            <span data-ng-bind="selected.sodiumDisplay"></span>
                        </div>
                    </div>
                    <div style="display:inline-block;border-left: 1px solid lightgray;padding-left: 15px;">
                        <div >
                            <span style="font-weight:bold;">Total Carbs:</span>
                            <span data-ng-bind="selected.carbsDisplay"></span>
                        </div>
                        <div style="margin-left: 20px;">
                            Fiber:
                            <span data-ng-bind="selected.fiberDisplay"></span>
                        </div>
                        <div style="margin-left: 20px;">
                            Sugar:
                            <span data-ng-bind="selected.sugarDisplay"></span>
                        </div>
                        <div>
                            <span style="font-weight:bold;">Protein:</span>
                            <span data-ng-bind="selected.proteinDisplay"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header" style="font-family: segui;">
            <h3 class="modal-title">Choose options to copy</h3>
        </div>
        <div class="modal-body" style="font-family: segui;">

            <div style="font-weight: bold;">
                Select Meals:
            </div>
            <div style="border: 1px solid lightgray;width: 49%;">
                <div class="plansMobileGrid" style="max-height: 140px; overflow:auto;">
                    <div data-ng-repeat="mealType in dialogMealsShort" >
                        <input type="checkbox" checklist-model="selected.meals" checklist-value="mealType.id"> {{mealType.type}}
                    </div>
                </div>

                <div class="plansDesktopGrid">
                    <select data-ng-model="selected.meals" multiple="multiple" ng-options="t.id as t.type for t in dialogMealsShort" style="font-size: 16px;vertical-align: top;width: 170px;"></select>
                </div>

            </div>


            <div style="margin-top: 30px;padding-top: 8px;">

                <!--<div style="display:inline-block; width: 100px;vertical-align: top;padding-top:5px;">-->
                   <!--Plan Date:-->
                <!--</div>-->
               <span style="font-weight: bold;"> Plan Date:</span>
                <div style="width: 170px;">
                    <p class="input-group">
                      <input type="text" class="form-control" id="copyPlanDate" datepicker-popup="{{format}}" data-ng-model="selected.planDate" data-ng-change="copyPlanDateChange" is-open="dialogPlanDateOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="copyPlanDateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="dialogOpenCopyPlanDate($event, 'dialogPlanDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button style="float: left;" class="btn btn-primary" ng-click="selectAllMeals()">All Meals</button>
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="suggestionsModalContent.html">
        <div class="modal-header" style="font-family: segui;">
            <h3 class="modal-title">Choose From Suggested Food</h3>
        </div>
        <div class="modal-body" style="font-family: segui;">

            <div style="font-weight: bold;">
                Suggested Foods (Top 5):
            </div>
            <div class="suggestedFoodsTable">
                <div  data-ng-repeat="suggestedFood in suggestedFoods">
                    <div class="suggestedFood" data-ng-click="selectedFoodClick(suggestedFood)" data-ng-class="{suggestedFoodSelected: selectedFood._id === suggestedFood._id}">
                        {{suggestedFood.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="notesModalContent.html">
        <div class="modal-header" style="font-family: segui;">
            <h3 class="modal-title">Edit Plan Notes</h3>
        </div>
        <div class="modal-body" style="font-family: segui;">

            <div style="font-weight: bold;">
                Notes:
            </div>
            <div>
                <textarea style="width: 100%;height: 100px;" data-ng-model="selected.notesToSave">

                </textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <script>
        jQuery(document).ready(function(){

            window.setTimeout(function(){
                jQuery('.panel-group').find('.panel-default').addClass('disabled');
            }, 1000)

        });
    </script>

</section>
