<section data-ng-controller="PlansController" style="font-family: segui;">
<!--<div class="page-header">-->
<!--<h1>New Plan</h1>-->
<!--</div>-->
<div class="col-md-12">
<form class="form-horizontal" data-ng-init="findOne()" novalidate>
<fieldset>
    <div class="form-group">
        <div class="planDetailsSection" style="display:inline-block;vertical-align: top;">
            <label class="control-label" for="planDate">Plan Date</label>

            <div class="row">
                <div class="col-md-6" style="width: 160px;">
                    <p class="input-group">
                       <input type="text" class="form-control" id="planDate" datepicker-popup="{{format}}" ng-model="plan.planDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>
            </div>
        </div>


        <div class=" planDetailsSection" style="display: inline-block; margin-top: 25px;float: right;">
            <input type="button" class="btn btn-default" style="margin-right: 5px; padding: 3px 8px;" data-ng-click="createMeal();" value="+"/>

            <button class="btn btn-default" style="margin-right: 5px; padding: 3px 8px;" ng-click="openCopyPlanDialog()">Copy</button>

            <input type="submit" style="padding: 3px 8px;" data-ng-click="savePlan()"  class="btn btn-default">
        </div>
    </div>

    <div data-ng-show="success" style="color: green; font-weight: bold; margin-bottom: 10px;opacity: 1;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;" >
        <strong>Your changes have been saved!</strong>
    </div>
</fieldset>


<fieldset id="wrapper">
<div id="content" class="form-group" style="height: 72vh; overflow-y: scroll;overflow-x:hidden; margin-bottom: 3px;">
    <accordion ng-show="plan.meals.length > 0" class="plansAccordion" style="..." close-others="oneAtATime">

        <accordion-group is-open="meal.isVisible" data-ng-repeat="meal in plan.meals" >
            <accordion-heading>
                <div style="height: 28px;">
                    <span style="width: 80px;" data-ng-show="meal.isEditable == false" data-ng-bind="getMealTypeName(meal.type)"></span>

                    <select ng-model="meal.type" data-ng-click="meal.isVisible = !meal.isVisible" data-ng-show="meal.isEditable" ng-options="t.id as t.name for t in mealTypes" style="font-size: 16px;vertical-align: top;"></select>

                    <input style="margin-left: 15px;float:right;" type="button" value="Save" data-ng-show="meal.isEditable" data-ng-click="saveMeal(meal);"/>

                    <input style="margin-left: 15px;float:right;" type="button" value="Edit" data-ng-show="meal.isEditable == false" data-ng-click="editMeal(meal);"/>
                </div>
            </accordion-heading>

                <div style="padding: 5px; min-width: 110vh;">

                <div style="display: inline-block;vertical-align: top">
                    <input type="button"  data-ng-click="createFood(meal);" value="+"/>

                    <input type="button" style="margin-left:10px;"  data-ng-click="saveAll(meal);" value="Save All"/>
                </div>

                <input style="margin-left: 15px;float:right;" type="button" value="Delete Meal" data-ng-click="deleteMeal(meal);"/>

                <!--<div class="hidden-desktop hidden-tablet visible-phone">-->
                <!--Edit-->
                <!--</div>-->
                <!---->
                <table data-ng-show="meal.foods.length > 0" style="margin-top: 6px;overflow-x:scroll;width:100%;">
                    <thead>
                    <tr>
                        <th width="20%">Name</th>
                        <!--<th width="7%">Type</th>-->
                        <th style="min-width: 40px;"> Servings</th>
                        <th style="min-width: 40px;">Calories</th>
                        <th style="min-width: 40px;">Carbs</th>
                        <th style="min-width: 40px;">Protein</th>
                        <th style="min-width: 40px;">Fat</th>
                        <th style="min-width: 40px;">Grams</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr height="35px" data-ng-repeat="food in meal.foods">
                        <td style="padding-right: 10px;">
                            <div class="controls" data-ng-show="food.isEditable">
                                <select data-ng-model="food.selectedFood" style="max-width: 160px;" data-ng-change="foodSelectionChange(food, meal)" ng-options="f as f.name for f in allFoods"></select>

                            </div>

                            <div class="controls" style="width: 160px;" data-ng-show="food.isEditable == false" data-ng-click="editFoodClick(food)">
                                <span data-ng-bind="food.name"></span>
                            </div>
                        </td>
                        <!--<td>-->
                            <!--<div class="controls" style="width: 60px;">-->
                                <!--<span data-ng-bind="food.type" id="foodType"  />-->
                            <!--</div>-->
                        <!--</td>-->
                        <td>
                            <div class="controls" style="width: 70px;" data-ng-show="food.isEditable">
                                <input data-ng-change="foodServingsChange(food, meal)" style="width: 60px;" data-ng-model="food.servings" id="servings" class="form-control" cols="3" rows="3"/>
                            </div>

                            <div class="controls" style="width: 70px;" data-ng-show="food.isEditable == false" data-ng-click="editFoodClick(food)">
                                <span data-ng-bind="food.servings"></span>
                            </div>
                        </td>
                        <td>
                            <div class="controls" style="width: 60px;">
                                <span data-ng-bind="food.calories"></span>
                            </div>
                        </td>
                        <td>
                            <div class="controls" style="width: 60px;">
                                <span data-ng-bind="food.carbohydrates"></span>
                            </div>
                        </td>
                        <td>
                            <div class="controls" style="width: 60px;">
                                <span data-ng-bind="food.protein"></span>
                            </div>
                        </td>
                        <td>
                            <div class="controls" style="width: 60px;">
                                <span data-ng-bind="food.fat"></span>
                            </div>
                        </td>
                        <td>
                            <div class="controls" style="width: 60px;">
                                <span data-ng-bind="food.grams"></span>
                            </div>
                        </td>
                        <td width="15px">
                            <input style="margin-left: 15px;" data-ng-show="food.isEditable == false" type="button" value="Edit" data-ng-click="editFood(food);"/>

                            <input data-ng-show="food.isEditable" type="button" style="margin-left: 15px;" value="Save" data-ng-click="saveFood(food);"/>
                        </td>
                        <td>
                            <input style="margin-left: 15px;" type="button" value="Delete" data-ng-click="deleteFood(food, meal);"/>
                        </td>
                    </tr>

                    <tr style="font-weight: bold;color: rgb(33, 51, 184);border-top: 1px solid lightgray;">
                        <td>
                            Totals:
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <!--<td>-->
                            <!--&nbsp;-->
                        <!--</td>-->
                        <td>
                            <span data-ng-bind="meal.totalCalories"></span>
                        </td>
                        <td>
                            <span data-ng-bind="meal.totalCarbohydrates"></span>
                        </td>
                        <td>
                            <span data-ng-bind="meal.totalProtein"></span>
                        </td>
                        <td>
                            <span data-ng-bind="meal.totalFat"></span>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </accordion-group>
    </accordion>




</div>


<table style="border-top: 1px solid lightgray;display: inline-block;" id="footer">
    <thead>
    <tr>
        <th width="316px">&nbsp;</th>
        <th width="90px">Calories </th>
        <th width="90px">Carbs</th>
        <th width="90px">Protein</th>
        <th width="130px">Fat</th>
    </tr>
    </thead>
    <tbody>
    <tr style="font-weight:bold;" data-ng-show="showTotalsAsPercent == false">
        <td>
            <span style="font-weight:bold;">Totals:</span>
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanCalories | number"></span>g
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanCarbs | number"></span>g
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanProtein | number"></span>g
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanFat | number"></span>g
        </td>

    </tr>
    <tr style="font-weight:bold;" data-ng-show="showTotalsAsPercent">
        <td>
            <span style="font-weight:bold;">Totals:</span>
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanCalories | number"></span>g
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanCarbsAsPercent | number:2"></span>%
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanProteinAsPercent | number:2"></span>%
        </td>
        <td style="color: rgb(33, 51, 184);">
            <span data-ng-bind="plan.totalPlanFatAsPercent | number:2"></span>%
        </td>

    </tr>
    </tbody>
</table>
<div style="display:inline-block; position:relative; bottom:6px;margin-top:10px">
    <label for="radioBtnShowPercent">%</label>
    <input type="radio" id="radioBtnShowPercent" name="totalsRadioBtn" style="margin-right: 20px;" data-ng-click="toggleTotalsAsPercent()"/>

    <label for="radioBtnHidePercent">Grams</label>
    <input type="radio" id="radioBtnHidePercent" name="totalsRadioBtn" data-ng-click="toggleTotalsAsPercent()" checked="checked"/>
</div>
</fieldset>

<div data-ng-show="error" class="text-danger">
    <strong data-ng-bind="error"></strong>
</div>

</form>
</div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Choose options to clone plan</h3>
    </div>
    <div class="modal-body">

        <div >
            <div style="display:inline-block; width: 100px;">
                Select Meals:
            </div>

            <div style="display:inline-block">
                <select data-ng-model="selected.meals" multiple="multiple" ng-options="t.id as t.type for t in dialogMealsShort" style="font-size: 16px;vertical-align: top;width: 170px;"></select>
            </div>
        </div>


        <div style="margin-top: 30px;">

            <div style="display:inline-block; width: 100px;vertical-align: top;padding-top:5px;">
               Plan Date:
            </div>

            <div style="display: inline-block; width: 170px;">
                <p class="input-group">
                  <input type="text" class="form-control" id="copyPlanDate" datepicker-popup="{{format}}" data-ng-model="selected.planDate" data-ng-change="copyPlanDateChange" is-open="dialogPlanDateOpened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="copyPlanDateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="dialogOpenCopyPlanDate($event, 'dialogPlanDateOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button style="float: left;" class="btn btn-primary" ng-click="selectAllMeals()">Select All Meals</button>
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
</section>
