<section data-ng-controller="PlansController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="plan.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == plan.user._id">
		<a class="btn btn-primary" href="/#!/plans/{{plan._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

    <h4 class="list-group-item-heading" data-ng-bind="food.name"></h4>
    <p class="list-group-item-text" data-ng-bind="food.type"></p>
    <p class="list-group-item-text" data-ng-bind="food.calories"></p>
    <p class="list-group-item-text" data-ng-bind="food.protein"></p>
    <p class="list-group-item-text" data-ng-bind="food.fat"></p>
    <p class="list-group-item-text" data-ng-bind="food.carbohydates"></p>
    <p class="list-group-item-text" data-ng-bind="food.grams"></p>
</section>