<div class="visible-xs mobilePlanHeader" >
    <!--<div  style="text-align: center;position:fixed; left: 58px">-->
        <!--<ng-include  src="'/modules/plans/views/mobile/mobile.planDateContentMobile.client.view.html'"></ng-include>-->
    <!--</div>-->

    <div class="dashboardNavTxt">
        <a style="color: white;" data-ng-href="#!/dashboard/{{plan.planDateAsConcat}}">
            <span class="glyphicon glyphicon-chevron-left" ></span> Dashboard
        </a>
    </div>

    <div class="pageTitle">
        Food
    </div>

    <div>
        <div class="plusBtn" id="createMeal">
            <div  data-ng-click="createFoodWithDialog();">
                <span class="glyphicon glyphicon-plus" ></span>
            </div>
        </div>
    </div>
</div>