<div  class="mobilePlanDateContainer">
    <div class="planDetailsSection">
        <div>
            <div class="mobileDateLeftArrow" id="prevDay">
                <div data-ng-click="toggleDayClick('previousDay')">
                    <span class="glyphicon glyphicon-chevron-left arrowBtn" ></span>
                </div>
            </div>
            <div id="planDateContainer" class="mobileDateContainerTxt">
                <span class="mobileDateTxt" data-ng-bind="getMobilePlanDateFormat(plan.planDateNonUtc)"></span>
            </div>
            <div class="mobileDateRightArrow" id="nextDay">
                <div data-ng-click="toggleDayClick('nextDay')">
                    <span class="glyphicon glyphicon-chevron-right arrowBtn" />
                </div>
            </div>
        </div>
    </div>
</div>