<!--<ul>-->
    <!--<li data-ng-click="createFoodWithDialog(meal, food, null, true);" data-ng-repeat="food in meal.foods" data-ng-class="{mealSuggestedHighlight: food.IsSuggested}">-->

        <!--<div>-->
            <!--<div class="controls"  style="font-weight: bold; font-size: 15px;">-->
                <!--<span data-ng-bind="food.name"></span>-->

                <!--<span class="deleteBtn" style="font-size: 16px;width: 15px;text-align: center;" data-ng-click="deleteFood(food, meal, true);">x</span>-->


            <!--</div>-->
            <!--<div class="controls"  style="color: rgb(211, 139, 12);padding-top: 3px;">-->

                <!--<span data-ng-bind="food.calories | number:0"></span> calories-->
            <!--</div>-->

        <!--</div>-->

        <!--<div style="font-size: 12.5px" class="text-muted">-->
            <!--<div>-->
                <!--<span data-ng-bind="food.servings"></span> serving<span data-ng-show="food.servings > 1">s</span>,-->
                <!--<span data-ng-bind="food.grams | number:0"></span> grams-->
            <!--</div>-->

        <!--</div>-->



    <!--</li>-->
<!--</ul>-->

<div style="padding: 3px;">
    <div data-ng-repeat="food in meal.foods" data-ng-click="createFoodWithDialog(meal, food, null, true);"
         data-ng-class="{mealSuggestedHighlight: food.IsSuggested}">

        <div>
            <div class="controls mealFoodName">
                <span data-ng-bind="food.name"></span>

                <!--<span class="deleteBtn" style="font-size: 16px;width: 15px;text-align: center;" data-ng-click="deleteFood(food, meal, true);">x</span>-->
            </div>
            <div class="controls"  style="color: rgb(211, 139, 12);padding-top: 3px;display:inline-block;float:right">

                <span data-ng-bind="food.calories | number:0"></span> cal
            </div>

        </div>

        <div  class="text-muted mealFoodServing">
            <div>
                <span data-ng-bind="food.servings"></span> serving<span data-ng-show="food.servings > 1">s</span>,
                <span data-ng-bind="food.grams | number:0"></span> grams
            </div>

        </div>
    </div>
</div>



<!--<div style="padding-top: 9px; padding-top: 3px;color: rgb(66, 66, 207); font-weight: bold;font-size: 12.5px;border-top: 1px solid lightgray;" data-ng-show="meal.foods && meal.foods.length > 0">-->

    <!--<div style="width: 42px; display:inline-block;color:rgb(46, 46, 141)">Totals:</div>-->

    <!--<div style="display:inline-block;">-->

        <!--<span  data-ng-bind="meal.totalCalories | number:0"></span> Calories-->


    <!--</div>-->

    <!--<div >-->
        <!--<div style="width: 42px; display:inline-block;">&nbsp;</div>-->
        <!--<div style="display:inline-block;padding-right:6px;" class="carbsColorLbl">-->
            <!--<span>Carbs: </span><span data-ng-bind="meal.totalCarbohydrates | number:0"></span><span>g</span>-->
        <!--</div>-->
        <!--<div style="display:inline-block;padding-right:6px;" class="proteinColorLbl">-->
            <!--<span>Protein: </span><span data-ng-bind="meal.totalProtein | number:0"></span><span>g</span>-->
        <!--</div>-->
        <!--<div style="display:inline-block;" class="fatColorLbl">-->
            <!--<span>Fat: </span><span data-ng-bind="meal.totalFat | number:0"></span><span>g</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


