<div style="padding: 3px;">
    <div data-ng-repeat="food in meal.foods" data-ng-click="createFoodWithDialog(meal, food, null, true);"
         data-ng-class="{mealSuggestedHighlight: food.IsSuggested, mealFood: meal.foods.length > 1 && $index < meal.foods.length - 1}" >

        <div>
            <div class="controls mealFoodName">
                <span data-ng-bind="food.name"></span>
            </div>
            <div class="controls foodCalories">

                <span data-ng-bind="food.calories | number:0"></span> cal
            </div>

        </div>

        <div  class="text-muted mealFoodServing">
            <div>
                <span data-ng-bind="food.servings"></span> serving<span data-ng-show="food.servings > 1">s</span>,
                <!--<span ng-show="getFoodServingTxt(food)">-->
                    <!--<span data-ng-bind="getFoodServingTxt(food)"></span>,-->
                <!--</span>-->
                <span data-ng-bind="food.grams | number:0"></span> grams
            </div>

        </div>
    </div>
</div>
