<section data-ng-controller="ActivitiesController" style="font-family: segui;">
<!--<div class="page-header">-->
<!--<h1>New Plan</h1>-->
<!--</div>-->
<div class="col-md-12">
<form class="form-horizontal" data-ng-init="findOne()" novalidate>


<fieldset>
    <div class="form-group" style="margin-bottom: 1px;">
        <div class="planDetailsSection" style="display:inline-block;vertical-align: top;">
            <!--<label class="control-label" for="planDate">Plan Date</label>-->

            <div class="row">
                <div class="col-md-6" style="width: 153px;padding-top: 8px;">
                    <p class="input-group">
                      <input type="text" class="form-control" style="padding: 4px 8px;" id="planDate" datepicker-popup="{{format}}" ng-model="plan.planDateNonUtc" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>

                    </p>
                </div>
            </div>
        </div>


        <div class="planDetailsSection" style="display: inline-block; margin-top: 9px;float: right;">
            <input type="button" class="btn btn-default" style="margin-right: 5px; padding: 4px 9px;" data-ng-click="createActivity();" value="+"/>

            <div class="plansDesktopBtn" >
                <input type="button" class="btn btn-default" style="margin-right: 5px; padding: 4px 9px;" value="{{sortingBtnTxt}}" data-ng-click="toggleSorting();"/>
            </div>
            <!--<button class="btn btn-default" style="margin-right: 5px; padding: 4px 9px;" ng-click="openCopyPlanDialog()">Copy</button>-->

            <div class="plansDesktopBtn" data-ng-show="isUserAdmin">
                <button class="btn btn-default " style="margin-right: 5px; padding: 4px 9px !important;background-image: linear-gradient(to bottom, #fff 0%, rgb(247, 170, 170) 100%);" data-ng-click="deletePlan(plan);">Delete Activity Plan</button>
            </div>

            <input type="submit" value="Save" style="padding: 4px 9px;" data-ng-click="saveActivityPlan();"  class="btn btn-default">
        </div>
    </div>

    <div data-ng-show="success" style="color: green; font-weight: bold; margin-bottom: 10px;opacity: 1;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;" >
        <strong>Your changes have been saved!</strong>
    </div>

    <div data-ng-show="showPlanEditableErrorMsg" style="color: red; font-weight: bold; margin-bottom: 10px;">
        <strong>Please save the plan before copying it.</strong>
    </div>
</fieldset>


<fieldset id="wrapper" >
<div id="content" class="form-group planContent" style="overflow-y: auto;overflow-x:hidden; margin-bottom: 3px;">
<accordion sortable="sortableOptions" disableallelementsbydefault="true" updateCallback="sortableUpdateCallback" startCallback="sortableStartCallback" rootSortableElement=".panel-group" ng-show="plan.activities.length > 0"  class="plansAccordion" style="..." close-others="oneAtATime">
<accordion-group data-ng-repeat="activity in plan.activities" is-open="activity.isVisible">
<accordion-heading>
    <div style="height: 28px;">
        <span style="width: 80px;" data-ng-show="activity.isEditable == false" data-ng-bind="activityTypesDictionary[activity.activityType].name"></span>

        <select ng-model="activity.activityType" data-ng-click="activity.isVisible = !activity.isVisible" data-ng-show="activity.isEditable" ng-options="t.id as t.name for t in activityTypes" style="font-size: 16px;vertical-align: top;"></select>

        <div class="editRow" style="display:inline-block;" class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            <img  alt="Edit Activity Type" class="img-responsive text-center" data-ng-show="activity.isEditable == false" data-ng-click="editActivity(activity);" src="modules/core/img/brand/pencilIcon.png" />
        </div>

    </div>
</accordion-heading>

<div class="planMealDesktop" style="height: 100px;">
    <div>
        <input style="margin-left: 15px;float:right;" type="button" value="Delete" data-ng-click="deleteActivity(activity);"/>
    </div>

    <br/>
    <div style="float:left;">
        <div data-ng-show="isActivityEndurance(activity)">
            <div style="display:inline-block;width: 100px">
                Steps:<br/> <input style="width: 60px;" data-ng-model="activity.steps" type="text"/>
            </div>

            <div style="display:inline-block;width: 100px">
                Duration (minutes):<br/> <input style="width: 60px;" data-ng-model="activity.duration" data-ng-change="calculateCalories(activity)" type="text"/>
            </div>

            <div style="display:inline-block;width: 100px" data-ng-show="isActivityDistanceRelated(activity)">
                Distance (miles):<br/> <input style="width: 60px;" data-ng-model="activity.distance" type="text"/>
            </div>

            <div style="display:inline-block;width: 100px">
                Intensity:<br/>

                <select data-ng-model="activity.intensity" ng-options="t for t in intensityList" style="font-size: 16px;vertical-align: top;"></select>
            </div>

            <div style="display:inline-block;width: 100px">
                Avg. Speed:<br/> <input style="width: 60px;" data-ng-model="activity.averageSpeed" type="text"/>
            </div>

            <div style="display:inline-block;width: 100px">
                Avg. Heart Rate:<br/> <input style="width: 60px;" data-ng-model="activity.averageHeartRate" data-ng-change="calculateCalories(activity)" type="text"/>
            </div>
        </div>

        <div data-ng-show="isActivityEndurance(activity) === false">
            <div style="display:inline-block;width: 100px">
                Duration (minutes):<br/> <input style="width: 60px;" data-ng-model="activity.duration" data-ng-change="calculateCalories(activity)" type="text"/>
            </div>

            <div style="display:inline-block;width: 100px">
                Intensity:<br/>
                <select data-ng-model="activity.intensity" ng-options="t for t in intensityList" style="font-size: 16px;vertical-align: top;"></select>

            </div>

            <div style="display:inline-block;width: 100px">
                Avg. Heart Rate:<br/> <input style="width: 60px;" data-ng-model="activity.averageHeartRate" data-ng-change="calculateCalories(activity)" type="text"/>
            </div>

        </div>

        <div style="font-weight:bold;margin-top: 15px;color: rgb(66, 66, 207);font-weight: bold;font-size: 12.5px;">
            Calories Burned: <span data-ng-bind="activity.caloriesBurned | number:0"></span>
        </div>
    </div>
</div>
</accordion-group>
</accordion>

<div style="font-weight:bold;margin-top: 15px;color: rgb(66, 66, 207);font-weight: bold;font-size: 12.5px;">
    Total Calories Burned: <span data-ng-bind="plan.totalCaloriesBurned | number:0"></span>
</div>




</div>


</fieldset>



<div data-ng-show="error" class="text-danger">
    <strong data-ng-bind="error"></strong>
</div>

</form>


</div>


<script>
    jQuery(document).ready(function(){

        window.setTimeout(function(){
            jQuery('.panel-group').find('.panel-default').addClass('disabled');
        }, 1000)

    });
</script>

</section>
