.createWeightRegion{
    margin-top: 34px;
}

.navWeightRegion{
    position: relative;
    right: 50px;
    bottom: 34px;
}

.weightTxt{
    position: relative;
    top: 80px;
    left: 93px;
    color: blue;
    z-index: 1000;
    background-color: white;
}

.dateSection{

    margin-top: 9px;
}

.buttonsArea{
    margin-top: 7px;
}

.dailySectionLastRow{
    margin-top: 35px;
}

.weightHeaderTxt{
    position: relative;
    top: 46px;
    left: 45px;
    color: rgb(8, 81, 189);
}

.emptyWeightHeaderTxt{
    bottom: 22px;
    position: relative;
    color: rgb(8, 81, 189);
}

.weightIcon{
    position: relative;
    bottom: 19px;
}

.emptyWeightIcon{
    position: relative;
    bottom: 20px;

}

.emptyWeightCreateTxt{
    position: relative;
    bottom: 29px;
    left: 6px;
}

.activitiesBtn{
    position: relative;
    right: 20px;

}

.caloriesDetails{
    font-size: 16px;
    position: relative;
    bottom: 19px;
}

.weeklyDashboardLoader{
    height: 336px;
    margin-left: 80px;
    margin-top: 10px;
}
.viewFoodsTxt{
    padding-left: 6px;
}