<div class="modal-header" style="font-family: segui;">
    <h3 class="modal-title text-center">My Exercises</h3>

    <div class="ActionLink" ng-click="exercisesCategorySelected()">
        <span >Back</span>
    </div>

</div>
<div style="font-family: segui;padding-left: 10px;padding-bottom:10px;" >
    <div style="display:inline-block;">
        <div>
            <div style="margin-top: 10px;width: 580px;">
                <div style="margin-bottom: 20px;">

                    <div style="vertical-align: top;display:inline-block;">
                        <input placeholder="Enter Activity Name" style="width: 80%;" type="text" data-ng-model="selected.activitySearchTxt"  />
                        <a class="ActionLink clearInputLink" data-ng-click="selected.activitySearchTxt = ''">Clear</a>
                    </div>
                </div>

                <div style="overflow-y: auto;max-height: 400px;" class="hidden-xs">
                    <div data-ng-show="!isLoading" class="list-group" style="margin-bottom: 0px; !important;" data-ng-repeat="activity in myExercises | filter: selected.activitySearchTxt">
                        <a class="list-group-item actionRow" data-ng-click="activitySelectionChange(activity)">
                            <span data-ng-bind="activity.name"></span>

                        </a>
                    </div>
                </div>

                <div style="overflow-y: auto;max-height: 270px;width: 47%;" class="visible-xs">
                    <div data-ng-show="!isLoading" class="list-group" style="margin-bottom: 0px; !important;" data-ng-repeat="activity in myExercises | filter: selected.activitySearchTxt">
                        <a class="list-group-item actionRow"  data-ng-click="activitySelectionChange(activity)">
                            <span data-ng-bind="activity.name"></span>

                        </a>
                    </div>
                </div>


                <div data-ng-show="isLoading" style="height: 336px;">
                    <img width="25" height="25" src="/modules/core/img/loaders/loader.gif">
                </div>

                <div>
                    <span style="color:blue;padding-left:5px;" data-ng-show="!activityTypes || activityTypes.length == 0">There are no activities returned</span>
                </div>

            </div>

        </div>
    </div>

</div>