<div class="row navPillsRow">
    <div class="col-md-4 dashboardNav">
        <a data-ng-href="#!/dashboard/{{plan.planDateAsConcat}}">
            <button type="button" class="btn btn-primary btn-m">
                <span class="glyphicon glyphicon-home" ></span><span class="hidden-xs"> Dashboard</span>
            </button>
        </a>
    </div>
    <div class="col-md-8 logNavPlanPills">
        <a ng-class="{activePill: logNavPillSelected == 'foods', inactivePill: logNavPillSelected != 'foods'}" href="#!/plans/nav/{{todayDateAsConcat}}">
            <div >
                Foods
            </div>
        </a>

        <a ng-class="{activePill: logNavPillSelected == 'activities', inactivePill: logNavPillSelected != 'activities'}" href="#!/activities/nav/{{todayDateAsConcat}}">
            <div >
                Activities
            </div>
        </a>

        <a ng-class="{activePill: logNavPillSelected == 'weight', inactivePill: logNavPillSelected != 'weight'}" href="#!/body-stats/nav/{{todayDateAsConcat}}">
            <div  >
                Weight
            </div>
        </a>
    </div>
</div>