<div class="row navPillsRow">
    <div class="col-md-12 col-md-offset-2 logNavPlanPills">
        <ul class="nav nav-pills">
            <li role="presentation" ng-class="{active: logNavPillSelected == 'foods'}"><a href="#!/plans/nav/{{todayDateAsConcat}}">Foods</a></li>
            <li role="presentation" ng-class="{active: logNavPillSelected == 'activities'}"><a href="#!/activities/nav/{{todayDateAsConcat}}">Activities</a></li>
            <li role="presentation" ng-class="{active: logNavPillSelected == 'weight'}"><a href="#!/body-stats/nav/{{todayDateAsConcat}}">Weight</a></li>
        </ul>
    </div>


</div>