<div data-ng-show="success" class="successMsgFixed" >
    <strong>Your changes have been saved!</strong>
</div>


<div>
    <div class="row" style="padding-bottom: 27px;" ng-if="userAuthenticated">
        <div class="col-md-4 col-xs-2" style="margin-top:17px">
            <a href="/#!/nutritionProfile" >
                <button type="button" class="btn btn-primary btn-m">
                    <span class="glyphicon glyphicon-arrow-left" ></span><span> Back</span>
                </button>
            </a>
        </div>
        <div class="col-md-4 col-xs-10">
            <div class="text-center">
                <h2>Targets</h2>
            </div>
        </div>

    </div>

    <div style="margin-top: 5px;">

    </div>

</div>

<div style="position: relative;bottom: 35px;">
    <div>

        <div style="height: 30px;display:inline-block" data-ng-show="!isMacrosValid" class="text-danger">
            <strong>Protein, Carbs, and Fat must total to equal 100%</strong>
        </div>
        <div style="height: 30px;display:inline-block" data-ng-show="isMacrosValid" >
            &nbsp;
        </div>

        <div class="row" style="padding-left: 10px;padding-bottom: 15px;">
            <div class="col-md-4"  >
                <input id="basicNutrientTargets" name="isAdvancedNutrientTargets" type="radio" value="basic" data-ng-change="nutrientTargetSettingsChange()"  data-ng-model="nutrientTargetSettings">
                <label for="basicNutrientTargets"> Basic Nutrient Targets </label>
            </div>

            <div class="col-md-8">
                <input id="advancedNutrientTargets" name="isAdvancedNutrientTargets" type="radio" value="advanced" data-ng-change="nutrientTargetSettingsChange('advanced')" data-ng-model="nutrientTargetSettings" >
                <label for="advancedNutrientTargets"> Advanced Nutrient Targets </label>
            </div>
        </div>

        <div class="form-group">
            <div data-ng-show="nutritionProfile.isAdvancedNutrientTargets">

                <div class="row" style="margin-left:30px;">

                    <div class="col-md-3" style="width: 170px;margin-right: 20px;">
                        <label class="control-label" for="deficitTarget">Caloric Deficit:</label>
                        <div class="controls">
                            <input style="margin-right: 10px;"  type="text" data-ng-model="nutritionProfile.deficitTarget" ng-change="update()" id="deficitTarget" class="form-control"  required>
                        </div>
                    </div>

                    <div class="col-md-3" style="width: 170px;margin-right: 20px;"  data-ng-class="{'has-error': !isMacrosValid, 'has-success': isMacrosChangeValid}">
                        <label class="control-label" for="proteinPercentageTarget">Protein %:</label>
                        <div class="controls">
                            <input style="margin-right: 10px;"  type="text" data-ng-change="macroChange()" data-ng-model="nutritionProfile.proteinPercentageTarget" id="proteinPercentageTarget" class="form-control" placeholder="Protein % Target" required>
                        </div>
                    </div>



                    <div class="col-md-3" style="width: 170px;margin-right: 20px;" data-ng-class="{'has-error': !isMacrosValid, 'has-success': isMacrosChangeValid}">
                        <label class="control-label" for="carbohydratesPercentageTarget">Carbs %:</label>
                        <div class="controls">
                            <input style="margin-right: 10px;"  type="text" data-ng-change="macroChange()" data-ng-model="nutritionProfile.carbohydratesPercentageTarget" id="carbohydratesPercentageTarget" class="form-control" placeholder="Carbs % Target" required>
                        </div>
                    </div>

                    <div class="col-md-3" style="width: 170px;margin-right: 20px;" data-ng-class="{'has-error': !isMacrosValid, 'has-success': isMacrosChangeValid}">
                        <label class="control-label" for="fatPercentageTarget">Fat %:</label>
                        <div class="controls">
                            <input style="margin-right: 10px;"  type="text" data-ng-change="macroChange()" data-ng-model="nutritionProfile.fatPercentageTarget" id="fatPercentageTarget" class="form-control" placeholder="Fat % Target" required>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-show="!nutritionProfile.isAdvancedNutrientTargets">

                <div class="row" style="margin-left:30px;">

                    <div class="col-md-4" style="width: 210px;margin-right: 20px;">
                        <label class="control-label" for="activityLevel">Activity Level:</label>
                        <div class="controls" style="margin-top: 5px;">
                            <select id="activityLevel" data-ng-model="nutritionProfile.activityLevel" ng-change="update()" ng-options="t.id as t.name for t in activityLevels" style="font-size: 16px;vertical-align: top;width: 170px;"></select>
                        </div>
                    </div>

                    <div class="col-md-4" style="width: 210px;margin-right: 20px;">
                        <label class="control-label" for="weeklyFatLossRate">Weekly Fat Loss Rate:</label>
                        <div class="controls" style="margin-top: 5px;">
                            <select id="weeklyFatLossRate" data-ng-model="nutritionProfile.deficitTarget" ng-change="update()" ng-options="t.id as t.name for t in weeklyFatLossRate" style="font-size: 16px;vertical-align: top;width: 170px;"></select>
                        </div>
                    </div>



                    <div class="col-md-4" style="width: 210px;margin-right: 20px;">
                        <label class="control-label" for="macrosRatio">Macros % Ratio:</label>
                        <div class="controls" style="margin-top: 5px;">
                            <select id="macrosRatio" data-ng-model="macrosRatioSelected" data-ng-change="macrosRatioChange(macrosRatioSelected);" ng-options="t.id as t.name for t in macrosRatios" style="font-size: 16px;vertical-align: top;width: 230px;"></select>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
