<div class="modal-header" style="font-family: segui;">

    <div>
        <div style="display:inline-block">
            <button class="btn btn-primary hidden-xs dialogNavBackBtn" ng-click="searchFoodsNavClick()">
                <span class="glyphicon glyphicon-arrow-left" ></span><span> Search Foods</span>
            </button>

            <div class="visible-xs dialogNavBackContainer" ng-click="searchFoodsNavClick()">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="dialogNavBackTxt"> Search Foods</span>
            </div>


        </div>
        <div class="addFoodTxt visible-xs" ng-click="ok()">
            <span class="glyphicon glyphicon-plus"></span>
            <span>Add Food</span>
        </div>

        <div class="dialogSectionHeader foodDetailsHeader" >
            <h3 class="modal-title hidden-xs" >
                <span style="font-weight: bold;" data-ng-bind="selected.foodToAdd.name"></span>
            </h3>

            <div class="foodDetailsHeaderTxt visible-xs">
                <span style="font-weight: bold;" data-ng-bind="selected.foodToAdd.name"></span>
            </div>
        </div>

    </div>
</div>
<div style="font-family: segui;padding-left: 10px;padding-bottom:10px;display: inline-block;" >
    <div style="display:inline-block">
        <div >
            <div style="padding-top:15px;display: inline-block;">
                <div style="font-weight: bold;">
                    Servings:
                </div>

                <input style="width: 80px;" data-ng-change="servingsChange()" data-ng-model="selected.servings" type="text"/>
            </div>


            <div class="servingType"   data-ng-show="foodServingTypes && foodServingTypes.length > 1">
                <span style="font-weight: bold;position: relative;bottom: 3px;">Serving Size:</span>
                <br/>
                <select style="font-size:18px;max-width: 178px;" data-ng-model="selected.servingType" data-ng-change="servingTypeChange();"
                        ng-options="t.id as t.description for t in foodServingTypes"></select>
            </div>

            <div  class="servingType" data-ng-show="foodServingTypes && foodServingTypes.length <= 1">
                <div  >
                    <span style="font-weight: bold;">Serving Size:</span>
                    <br/>
                    <span style="font-size: 18px;"  data-ng-bind="selected.foodToAdd.servingDescription1"></span>
                </div>
            </div>
        </div>

        <div style="color: rgb(33, 51, 184)">
            <div style="margin-top: 20px;padding-right: 25px;display:inline-block;">
                <span style="font-weight:bold;">Calories:</span>
                <span  data-ng-bind="selected.caloriesDisplay | number: 0"></span>
            </div>

            <div style="display:inline-block;padding-top:5px;">
                <span  style="font-weight:bold;">Total Grams:</span>

                <span>{{gramsDisplay}}</span>

            </div>
        </div>

        <div>
            <div style="padding-top: 2px;display:inline-block;">
                <div style="display:inline-block;padding-right:10px;">
                    <div style="padding-top: 15px;color:rgb(36, 124, 36)">
                        <span style="font-weight:bold;">Total Fat:</span>
                        <span data-ng-bind="selected.fatDisplay | number: 1"></span>g
                    </div>
                    <div style="margin-left: 20px;">
                        Saturated Fat:
                        <span data-ng-bind="selected.saturatedFatDisplay | number: 0"></span>g
                    </div>
                    <div style="margin-left: 20px;">
                        <span>Cholesterol:</span>
                        <span data-ng-bind="selected.cholesterolDisplay | number: 0"></span>mg
                    </div>
                    <div >
                        <span style="font-weight:bold;">Sodium:</span>
                        <span data-ng-bind="selected.sodiumDisplay | number: 0"></span>mg
                    </div>
                </div>
                <div style="display:inline-block;border-left: 1px solid lightgray;padding-left: 10px;">
                    <div style="color:rgb(255, 127, 14)">
                        <span style="font-weight:bold;">Total Carbs:</span>
                        <span data-ng-bind="selected.carbsDisplay | number: 1"></span>g
                    </div>
                    <div style="margin-left: 20px;">
                        Fiber:
                        <span data-ng-bind="selected.fiberDisplay | number: 0"></span>g
                    </div>
                    <div style="margin-left: 20px;">
                        Sugar:
                        <span data-ng-bind="selected.sugarDisplay | number: 1"></span>g
                    </div>
                    <div style="color:rgb(31, 119, 180)">
                        <span style="font-weight:bold;">Protein:</span>
                        <span data-ng-bind="selected.proteinDisplay | number: 1"></span>g
                    </div>
                </div>
            </div>


        </div>


    </div>




</div>

<div class="cancelTxt cancelTxtFloatRight">
    <span class="visible-xs" ng-click="cancel()">Cancel</span>
</div>

<div class="dekstopMediumWindowWidth" id="foodMacrosChart" style="vertical-align: top;margin-left:40px;" ></div>