<script type="text/ng-template" id="createFoodModalContent.html">


    <div data-ng-show="foodDialogDisplaySection == 'addMeal'" >
        <ng-include  src="'/modules/plans/views/shared/createFoodDialog/shared.createFoodDialog.addMeal.view.html'"></ng-include>
    </div>
    <div data-ng-show="foodDialogDisplaySection == 'selectMeal'" >
        <ng-include  src="'/modules/plans/views/shared/createFoodDialog/shared.createFoodDialog.meals.view.html'"></ng-include>
    </div>
    <div data-ng-show="foodDialogDisplaySection == 'categories'" >
        <ng-include  src="'/modules/plans/views/shared/createFoodDialog/shared.createFoodDialog.categories.view.html'"></ng-include>
    </div>
    <div data-ng-show="foodDialogDisplaySection == 'searchFoods'" >
        <ng-include  src="'/modules/plans/views/shared/createFoodDialog/shared.createFoodDialog.searchFoods.view.html'"></ng-include>
    </div>
    <div data-ng-show="foodDialogDisplaySection == 'foodDetails'">
        <ng-include  src="'/modules/plans/views/shared/createFoodDialog/shared.createFoodDialog.foodDetails.view.html'"></ng-include>
    </div>
    <div data-ng-show="foodDialogDisplaySection == 'suggestFoods'">
        <ng-include  src="'/modules/plans/views/shared/createFoodDialog/shared.createFoodDialog.suggestFoods.view.html'"></ng-include>
    </div>






    <div class="modal-footer">
        <div class="visible-xs">
            <div  data-ng-show="foodDialogDisplaySection == 'foodDetails'">
                <div class=" visible-xs">
                    <div class="foodDelete" ng-show="isUpdate" ng-click="deleteMealFood()">
                        <span class="glyphicon glyphicon-trash danger"></span>
                    </div>
                </div>
                <button  class="btn btn-primary" ng-click="ok()">Save</button>

            </div>
        </div>
        <button style="float:left;" class="btn btn-warning hidden-xs" ng-click="cancel()">Cancel</button>

        <button data-ng-show="foodDialogDisplaySection == 'foodDetails'" class="btn btn-primary hidden-xs" ng-click="ok()">Save</button>


    </div>
</script>

