<div class="modalHeaderSection" style="font-family: segui;">
    <div class="cancelTxt">
        <span class="visible-xs" ng-click="cancel()">Cancel</span>
    </div>

    <div class="dialogSectionHeader">
        <h3 class="modal-title">Select Meal</h3>
    </div>
    <div class="addMealBtn">
        <button  type="button" class="btn btn-primary btn-m" data-ng-click="newMealClick();">
            <span class="glyphicon glyphicon-plus" ></span><span class="hidden-xs"> Add Meal</span>
        </button>
    </div>
</div>




<div class="foodDialogMealsContainer">



    <div style="margin-bottom: 0px; !important;"  ng-repeat="meal in meals"  ng-click="mealSelectClick(meal)">
        <a class="list-group-item actionRow" data-ng-click="foodSelectionChange(food)">
            <span ng-bind="getMealTypeName(meal.type) || meal.name"></span>
        </a>
    </div>




</div>