<div style="display:inline-block">
    <button class="btn btn-primary hidden-xs dialogNavBackBtn" ng-click="selectMealNavClick()">
        <span class="glyphicon glyphicon-arrow-left" ></span><span> Change Meal</span>
    </button>
    <div class="visible-xs dialogNavBackContainer" ng-click="selectMealNavClick()">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="dialogNavBackTxt"> Meals</span>
    </div>

</div>

<div class="dialogSectionHeader">
    <div class="mealHeaderTxt">
        {{getMealTypeName(selected.mealSelected.type || selected.mealTypeSelected) || selected.customMealInput || selected.mealSelected.name}}
    </div>
</div>

<div class="cancelTxt cancelTxtFloatRight" >
    <span class="visible-xs" ng-click="cancel()">Cancel</span>
</div>

<div class="list-group" style="color: rgb(66, 66, 207) padding: 10px;">
    <a class="list-group-item" style="height: 60px;" ng-click="myFoodsCategorySelected()">
        <div>
            <span style="font-size: 20px;color:rgb(55, 55, 234)" class="glyphicon glyphicon-user"></span>
            <div style="font-weight:bold; font-size: 20px;display:inline-block;padding-left: 20px;">Search My Foods</div>
            <span style="float:right;" class="glyphicon glyphicon-chevron-right navigationRightArrow"></span>
        </div>

    </a>
    <a class="list-group-item" style="height: 60px;" ng-click="allFoodsCategorySelected()">
        <div>
            <span style="font-size: 20px;color: rgb(244, 191, 77)" class="glyphicon glyphicon-cutlery"></span>
            <div style="font-weight:bold; font-size: 20px;display:inline-block;padding-left: 20px;">Search All Foods</div>
            <span style="float:right;" class="glyphicon glyphicon-chevron-right navigationRightArrow"></span>
        </div>

    </a>
    <a class="list-group-item" style="height: 60px;" ng-click="suggestedFoodsCategorySelected()">
        <div>
            <span style="font-size: 20px;color: rgb(79, 192, 175)" class="glyphicon glyphicon-question-sign"></span>
            <div style="font-weight:bold; font-size: 20px;display:inline-block;padding-left: 20px;">Suggest Foods</div>
            <span style="float:right;" class="glyphicon glyphicon-chevron-right navigationRightArrow"></span>
        </div>

    </a>

</div>