<div data-ng-controller="NutritionProfileController" data-ng-init="findOne()">

    <div data-ng-show="success" class="successMsgFixed" >
        <strong>Your changes have been saved!</strong>
    </div>



    <div>
        <div class="row" style="padding-bottom: 27px;">
            <div class="col-md-4" style="margin-top:17px">
                <a href="/#!/nutritionProfile" >
                    <button type="button" class="btn btn-primary btn-m">
                        <span class="glyphicon glyphicon-arrow-left" ></span><span> Back</span>
                    </button>
                </a>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <h2>Body Info</h2>
                </div>
            </div>
            <div class="col-md-4">
                &nbsp;
            </div>
        </div>

        <div style="margin-top: 5px;">

        </div>

    </div>

    <div class="form-group">
        <div style="margin-left: 30px;">

            <div style="display:inline-block">
                <label class="control-label" for="age">Age:</label>
                <div class="controls">
                    <input style="margin-right: 10px;" type="text" data-ng-model="nutritionProfile.age" ng-change="update()" id="age" class="form-control" required>
                </div>
            </div>

            <div >
                <label class="control-label" for="heightFeet">Height:</label>
                <div class="controls">

                    <select id="heightFeet" data-ng-model="nutritionProfile.heightFeet" ng-change="update()" ng-options="t for t in heightFeetOptions" style="font-size: 16px;vertical-align: top;width: 80px;"></select>

                    Feet
                    <select id="heightInches" data-ng-model="nutritionProfile.heightInches" ng-change="update()" ng-options="t for t in heightInchesOptions" style="font-size: 16px;vertical-align: top;width: 80px;margin-left: 16px;"></select>

                    Inches
                </div>
            </div>

            <div >
                <label class="control-label" for="gender">Gender:</label>
                <div class="controls">

                    <select id="gender" data-ng-model="nutritionProfile.sex" ng-change="update()" ng-options="t for t in sexOptions" style="font-size: 16px;vertical-align: top;width: 170px;"></select>

                </div>
            </div>

            <div style="display:inline-block">
                <label class="control-label" for="age">Initial Weight (lbs):</label>
                <div class="controls">
                    <input style="width: 70%;" type="text" ng-change="update()" data-ng-model="nutritionProfile.weight" id="weight" class="form-control" required>
                </div>
            </div>

        </div>

    </div>
</div>





