<div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <div data-ng-show="success" class="successMsgFixed" >
            <strong>Your changes have been saved!</strong>
        </div>

        <div style="display:inline-block;" data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>




        <div class="list-group" style="color: rgb(66, 66, 207)" >
            <a data-ng-href="/#!/nutritionProfile/nutrientTargets" class="list-group-item" style="height: 60px;">
                <div>
                    <span style="font-size: 20px;color:rgb(55, 55, 234)" class="glyphicon glyphicon-heart-empty"></span>
                    <div style="font-weight:bold; font-size: 20px;display:inline-block;padding-left: 20px;">Targets</div>
                    <span style="float:right;position: relative;top: 10px;" class="glyphicon glyphicon-chevron-right navigationRightArrow"></span>
                </div>

            </a>
            <a data-ng-href="/#!/nutritionProfile/bodyInfo" class="list-group-item" style="height: 60px;">
                <div>
                    <span style="font-size: 20px;color:rgb(18, 191, 242)" class="glyphicon glyphicon-user"></span>
                    <div style="font-weight:bold; font-size: 20px;display:inline-block;padding-left: 20px;">Body Info</div>
                    <span style="float:right;position: relative;top: 10px;" class="glyphicon glyphicon-chevron-right navigationRightArrow"></span>
                </div>
            </a>
            <a data-ng-href="/#!/nutritionProfile/mealsTemplate" class="list-group-item" style="height: 60px;">
                <div>
                    <span style="font-size: 20px;color:rgb(242, 163, 18)" class="glyphicon glyphicon-cutlery"></span>
                    <div style="font-weight:bold; font-size: 20px;display:inline-block;padding-left: 20px;">Meals Template</div>
                    <span style="float:right;position: relative;top: 10px;" class="glyphicon glyphicon-chevron-right navigationRightArrow"></span>
                </div>
            </a>
            <a data-ng-href="/#!/nutritionProfile/customizations" class="list-group-item" style="height: 60px;">
                <div>
                    <span style="font-size: 20px;color:rgb(88, 211, 62)" class="glyphicon glyphicon-list-alt"></span>
                    <div style="font-weight:bold; font-size: 20px;display:inline-block;padding-left: 20px;">Customizations</div>
                    <span style="float:right;position: relative;top: 10px;" class="glyphicon glyphicon-chevron-right navigationRightArrow"></span>
                </div>
            </a>
        </div>

    </form>
</div>


<ng-include src="'/modules/nutrition-profile/views/addMealToTemplate.client.view.html'"></ng-include>

