<div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <div data-ng-show="success" class="successMsgFixed" >
            <strong>Your changes have been saved!</strong>
        </div>

        <div style="display:inline-block;" data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>

        <div style="height: 30px;display:inline-block" data-ng-show="!isMacrosValid" class="text-danger">
            <strong>Protein, Carbs, and Fat must total to equal 100%</strong>
        </div>
        <div style="height: 30px;display:inline-block" data-ng-show="isMacrosValid" >
           &nbsp;
        </div>





        <fieldset >
            <legend style="margin-bottom: 2px;">Nutrient Targets:</legend>

            <div class="row" style="padding-top: 10px;padding-left: 10px;padding-bottom: 15px;">
                <div class="col-md-4"  >
                    <input id="basicNutrientTargets" name="isAdvancedNutrientTargets" type="radio" value="basic" data-ng-change="nutrientTargetSettingsChange()"  data-ng-model="nutrientTargetSettings">
                    <label for="basicNutrientTargets"> Basic Nutrient Targets </label>
                </div>

                <div class="col-md-8">
                    <input id="advancedNutrientTargets" name="isAdvancedNutrientTargets" type="radio" value="advanced" data-ng-change="nutrientTargetSettingsChange('advanced')" data-ng-model="nutrientTargetSettings" >
                    <label for="advancedNutrientTargets"> Advanced Nutrient Targets </label>
                </div>
            </div>

            <div class="form-group">
                <div data-ng-show="nutritionProfile.isAdvancedNutrientTargets">

                    <div class="row" style="margin-left:30px;">

                        <div class="col-md-3" style="width: 170px;margin-right: 20px;">
                            <label class="control-label" for="deficitTarget">Caloric Deficit:</label>
                            <div class="controls">
                                <input style="margin-right: 10px;"  type="text" data-ng-model="nutritionProfile.deficitTarget" id="deficitTarget" class="form-control"  required>
                            </div>
                        </div>

                        <div class="col-md-3" style="width: 170px;margin-right: 20px;"  data-ng-class="{'has-error': !isMacrosValid, 'has-success': isMacrosChangeValid}">
                            <label class="control-label" for="proteinPercentageTarget">Protein %:</label>
                            <div class="controls">
                                <input style="margin-right: 10px;"  type="text" data-ng-change="validateNutritionTargets()" data-ng-model="nutritionProfile.proteinPercentageTarget" id="proteinPercentageTarget" class="form-control" placeholder="Protein % Target" required>
                            </div>
                        </div>



                        <div class="col-md-3" style="width: 170px;margin-right: 20px;" data-ng-class="{'has-error': !isMacrosValid, 'has-success': isMacrosChangeValid}">
                            <label class="control-label" for="carbohydratesPercentageTarget">Carbs %:</label>
                            <div class="controls">
                                <input style="margin-right: 10px;"  type="text" data-ng-change="validateNutritionTargets()" data-ng-model="nutritionProfile.carbohydratesPercentageTarget" id="carbohydratesPercentageTarget" class="form-control" placeholder="Carbs % Target" required>
                            </div>
                        </div>

                        <div class="col-md-3" style="width: 170px;margin-right: 20px;" data-ng-class="{'has-error': !isMacrosValid, 'has-success': isMacrosChangeValid}">
                            <label class="control-label" for="fatPercentageTarget">Fat %:</label>
                            <div class="controls">
                                <input style="margin-right: 10px;"  type="text" data-ng-change="validateNutritionTargets()" data-ng-model="nutritionProfile.fatPercentageTarget" id="fatPercentageTarget" class="form-control" placeholder="Fat % Target" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="!nutritionProfile.isAdvancedNutrientTargets">

                    <div class="row" style="margin-left:30px;">

                        <div class="col-md-4" style="width: 210px;margin-right: 20px;">
                            <label class="control-label" for="activityLevel">Activity Level:</label>
                            <div class="controls" style="margin-top: 5px;">
                                <select id="activityLevel" data-ng-model="nutritionProfile.activityLevel" ng-options="t.id as t.name for t in activityLevels" style="font-size: 16px;vertical-align: top;width: 170px;"></select>
                            </div>
                        </div>

                        <div class="col-md-4" style="width: 210px;margin-right: 20px;">
                            <label class="control-label" for="weeklyFatLossRate">Weekly Fat Loss Rate:</label>
                            <div class="controls" style="margin-top: 5px;">
                                <select id="weeklyFatLossRate" data-ng-model="nutritionProfile.deficitTarget" ng-options="t.id as t.name for t in weeklyFatLossRate" style="font-size: 16px;vertical-align: top;width: 170px;"></select>
                            </div>
                        </div>



                        <div class="col-md-4" style="width: 210px;margin-right: 20px;">
                            <label class="control-label" for="macrosRatio">Macros % Ratio:</label>
                            <div class="controls" style="margin-top: 5px;">
                                <select id="macrosRatio" data-ng-model="macrosRatioSelected" data-ng-change="macrosRatioChange(macrosRatioSelected);" ng-options="t.id as t.name for t in macrosRatios" style="font-size: 16px;vertical-align: top;width: 230px;"></select>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset style="margin-top: 30px;">
            <legend style="margin-bottom: 2px;">Body Info:</legend>

            <div class="form-group">
                <div style="margin-left: 30px;">

                    <div style="display:inline-block">
                        <label class="control-label" for="age">Age:</label>
                        <div class="controls">
                            <input style="margin-right: 10px;" type="text" data-ng-model="nutritionProfile.age" id="age" class="form-control" required>
                        </div>
                    </div>

                    <div >
                        <label class="control-label" for="heightFeet">Height:</label>
                        <div class="controls">

                            <select id="heightFeet" data-ng-model="nutritionProfile.heightFeet" ng-options="t for t in heightFeetOptions" style="font-size: 16px;vertical-align: top;width: 80px;"></select>

                            Feet
                            <select id="heightInches" data-ng-model="nutritionProfile.heightInches" ng-options="t for t in heightInchesOptions" style="font-size: 16px;vertical-align: top;width: 80px;margin-left: 16px;"></select>

                            Inches
                        </div>
                    </div>

                    <div >
                        <label class="control-label" for="gender">Gender:</label>
                        <div class="controls">

                            <select id="gender" data-ng-model="nutritionProfile.sex" ng-options="t for t in sexOptions" style="font-size: 16px;vertical-align: top;width: 170px;"></select>

                        </div>
                    </div>

                    <div style="display:inline-block">
                        <label class="control-label" for="age">Initial Weight (lbs):</label>
                        <div class="controls">
                            <input style="width: 70%;" type="text" data-ng-model="nutritionProfile.weight" id="weight" class="form-control" required>
                        </div>
                    </div>

                </div>

            </div>

        </fieldset>

        <fieldset style="margin-top: 30px;" >
            <legend style="margin-bottom: 2px;">Meals Template:</legend>

            <button type="button" class="btn btn-primary btn-m hidden-xs" style="padding: 6px 10px;margin-top: 10px;margin-left: 15px;" data-ng-click="addMealToTemplateWithDialog()">
                <span class="glyphicon glyphicon-plus" ></span> <span class="hidden-xs">Add Meal</span>
            </button>

            <div sortable="sortableOptions"  updateCallback="sortableUpdateCallback" startCallback="sortableStartCallback" rootSortableElement=".mealsTemplateContainer">
                <div class="form-group mealsTemplateContainer" style="margin-left: 15px;" >
                    <div   data-ng-repeat="templateMeal in nutritionProfile.templateMeals"
                         data-ng-mouseover="templateMeal.showEditIcon = true" data-ng-mouseleave="templateMeal.showEditIcon = false">

                        <div class="templateMealItem" style="display:inline-block;">
                            <span data-ng-bind="templateMeal.name"></span>
                        </div>



                        <div style="display:inline-block;width: 20px;padding-left: 10px;">
                            <div style="cursor:pointer;height: 14px !important;" data-ng-click="deleteTemplateMeal(templateMeal);" type="button" data-ng-class="{editRowShow: templateMeal.showEditIcon}"  class="editRowHide">
                                <span  class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend style="margin-bottom: 2px;">Customizations:</legend>
            <div style="margin-top: 10px">
                <label for="hideWeightOnHomeScreen"> Hide Weight on Home Screen:</label>
                <input id="hideWeightOnHomeScreen" type="checkbox" data-ng-model="nutritionProfile.hideWeightOnHomeScreen" />
            </div>
        </fieldset>






    </form>
</div>

<script type="text/ng-template" id="addMealToTemplateModalContent.html">
    <div class="modal-header" style="font-family: segui;">
        <h3 class="modal-title" data-ng-show="!showActivityDetails">Select Meal To Add To Template</h3>
    </div>
    <div style="font-family: segui;padding: 20px;" >
        <select id="templateMeals" style="width: 30%;font-size: 18px;" name="templateMeals" data-ng-options="t.id as t.name for t in mealsDict" data-ng-model="selected.selectedMealForTemplate"></select>

    </div>


    <div class="modal-footer">
        <button class="btn btn-primary"  ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
