<div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>

        <div style="display:inline-block;" data-ng-show="success" class="text-success">
            <strong>Nutrition Profile Saved Successfully!</strong>
        </div>
        <div style="display:inline-block;" data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>

        <div class="form-group" data-ng-if="nutritionProfileParameters.showSubmitButton">
            <input style="float:right" type="submit" value="Update" class="btn btn-default">
        </div>


        <fieldset >
            <legend style="margin-bottom: 2px;">Macros Targets:</legend>

            <div class="form-group">
                <div style="margin-left: 30px;">

                    <div style="display:inline-block; width: 130px;">
                        <label class="control-label" for="deficitTarget">Deficit:</label>
                        <div class="controls">
                            <input style="width: 60%;" type="text" data-ng-model="nutritionProfile.deficitTarget" id="deficitTarget" class="form-control"  required>
                        </div>
                    </div>

                    <div style="display:inline-block; width: 130px;">
                        <label class="control-label" for="proteinPercentageTarget">Protein %:</label>
                        <div class="controls">
                            <input style="width: 60%;" type="text" data-ng-model="nutritionProfile.proteinPercentageTarget" id="proteinPercentageTarget" class="form-control" placeholder="Protein % Target" required>
                        </div>
                    </div>



                    <div style="display:inline-block; width: 130px;">
                        <label class="control-label" for="carbohydratesPercentageTarget">Carbs %:</label>
                        <div class="controls">
                            <input style="width: 60%;" type="text" data-ng-model="nutritionProfile.carbohydratesPercentageTarget" id="carbohydratesPercentageTarget" class="form-control" placeholder="Carbs % Target" required>
                        </div>
                    </div>

                    <div style="display:inline-block; width: 130px;">
                        <label class="control-label" for="fatPercentageTarget">Fat %:</label>
                        <div class="controls">
                            <input style="width: 60%;" type="text" data-ng-model="nutritionProfile.fatPercentageTarget" id="fatPercentageTarget" class="form-control" placeholder="Fat % Target" required>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset style="margin-top: 30px;">
            <legend style="margin-bottom: 2px;">Body Info:</legend>

            <div class="form-group">
                <div style="margin-left: 30px;">

                    <div style="display:inline-block">
                        <label class="control-label" for="age">Age:</label>
                        <div class="controls">
                            <input style="width: 70%;" type="text" data-ng-model="nutritionProfile.age" id="age" class="form-control" required>
                        </div>
                    </div>

                    <div >
                        <label class="control-label" for="heightFeet">Height:</label>
                        <div class="controls">

                            <select id="heightFeet" data-ng-model="nutritionProfile.heightFeet" ng-options="t for t in heightFeetOptions" style="font-size: 16px;vertical-align: top;width: 80px;"></select>

                            Feet
                            <select id="heightInches" data-ng-model="nutritionProfile.heightInches" ng-options="t for t in heightInchesOptions" style="font-size: 16px;vertical-align: top;width: 80px;margin-left: 16px;"></select>

                            Inches
                        </div>
                    </div>

                    <div >
                        <label class="control-label" for="gender">Gender:</label>
                        <div class="controls">

                            <select id="gender" data-ng-model="nutritionProfile.sex" ng-options="t for t in sexOptions" style="font-size: 16px;vertical-align: top;width: 170px;"></select>

                        </div>
                    </div>

                    <div style="display:inline-block">
                        <label class="control-label" for="age">Weight (lbs):</label>
                        <div class="controls">
                            <input style="width: 70%;" type="text" data-ng-model="nutritionProfile.weight" id="weight" class="form-control" required>
                        </div>
                    </div>

                </div>

            </div>

        </fieldset>

        <fieldset style="margin-top: 30px;">
            <legend style="margin-bottom: 2px;">Meals Template:</legend>

            <button type="button" class="btn btn-primary btn-m" style="padding: 6px 10px;margin-top: 10px;margin-left: 15px;" data-ng-click="addMealToTemplateWithDialog()">
                <span class="glyphicon glyphicon-plus" ></span> <span class="hidden-xs">Add Meal</span>
            </button>

            <div sortable="sortableOptions"  updateCallback="sortableUpdateCallback" startCallback="sortableStartCallback" rootSortableElement=".mealsTemplateContainer">
                <div class="form-group mealsTemplateContainer" style="margin-left: 15px;" >
                    <div   data-ng-repeat="templateMeal in nutritionProfile.templateMeals"
                         data-ng-mouseover="templateMeal.showEditIcon = true" data-ng-mouseleave="templateMeal.showEditIcon = false">

                        <div class="templateMealItem" style="display:inline-block;">
                            <span data-ng-bind="templateMeal.name"></span>
                        </div>



                        <div style="display:inline-block;width: 20px;padding-left: 10px;">
                            <div style="cursor:pointer;height: 14px !important;" data-ng-click="deleteTemplateMeal(templateMeal);" type="button" data-ng-class="{editRowShow: templateMeal.showEditIcon}"  class="editRowHide">
                                <span  class="glyphicon glyphicon-trash"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </fieldset>






    </form>
</div>

<script type="text/ng-template" id="addMealToTemplateModalContent.html">
    <div class="modal-header" style="font-family: segui;">
        <h3 class="modal-title" data-ng-show="!showActivityDetails">Select Meal To Add To Template</h3>
    </div>
    <div style="font-family: segui;padding: 20px;" >
        <select id="templateMeals" style="width: 30%;font-size: 18px;" name="templateMeals" data-ng-options="t.id as t.name for t in mealsDict" data-ng-model="selected.selectedMealForTemplate"></select>

    </div>


    <div class="modal-footer">
        <button class="btn btn-primary"  ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
